
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<title>TestYard - Taking Care of Your Skills Testing Needs</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script language='JavaScript' type="text/javascript" src='static/javascript/pageutils.js'></script>

<!-- New interface code starts here -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- New interface code ends here -->


<style>
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 0rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: #ccffff;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 0rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}


.form-control:focus {

    box-shadow: 10px 0px 0px 0px #ffffff !important;

}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

</style>

<!-- Index page related css -->
<link href="/static/css/index/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/index/style.css" rel="stylesheet">
  <link href="/static/css/index/themify-icons.css" rel="stylesheet">
  <link href='/static/css/index/dosis-font.css' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div id="container">

	<div id="header">	
		<h1><a href="/skillstest/index/" style="text-shadow: rgba(245,245,245,0.5);background-clip: text;-moz-background-clip: text;-webkit-background-clip: text;">TEST<span>YARD</span></a></h1>
		<p style="color:#FFFFFF;font-size:14;font-family: Futura;text-shadow: rgba(245,245,245,0.5);background-clip: text;-moz-background-clip: text;-webkit-background-clip: text;background-color: #666666;font-style:oblique;">Taking care of your skills testing needs...</p>

		<!-- ### Top Menu ### -->

		<div id="topmenu">
		<ul>
			<li><a href="{{ profile_url }}"{{ select_profile }}>Profile</a></li>	
			<!-- <li><a href="{{ dashboard_url }}"{{ select_dashboard }}>Dashboard</a></li>
			<li><a href="{{ subscription_url }}"{{ select_subscription }}>Subscriptions</a></li> -->
			<li><a href="{{ tests_url }}"{{ select_tests }}>Tests & Interviews</a></li>	
			<li><a href="{{ search_url }}"{{ select_search }}>Search</a></li>
			<li><a href="{{ network_url }}"{{ select_socnet }}>Network</a></li>
			<li><a href="{{ analytics_url }}"{{ select_analytics }}>Analytics</a></li>
			<li><a href="{{ aboutus_url }}"{{ select_aboutus }}>About Us</a></li>
			<li><a href="{{ helpndoc_url }}"{{ select_helpndoc }}>Help</a></li>
			<li><a href="{{ careers_url }}"{{ select_careers }}>Careers</a></li>	
		</ul>	
		</div>

	</div>
	
	<div id="contentcontainer">
	
		<div id="content" style="width:90%;">

		<!-- ### Post Entry Begin ###  -->
		
		<div class="post">
			
			
			
			
			<div class="entry">
			
			<!--<p><a href="#">TestYard</a> enables you to conduct tests and interviews for recruitment/promotions/certifications online, so that the probable candidates/employees/professionals can take them at their own convenience. This enables your organization to recruit the best pros' from around the world at a nominal cost.</p>
			<p><a href="#">TestYard</a> also provides various programming/software environments where candidates can actually write code and run them (after compiling/building them, if necessary). This allows you to test your candidates on the real life scenarios for which you are recruiting.</p>
			<blockquote><p class="note">Check our <b>Android</b>&#8482; and <b>iOS</b>&#8482; app (SmartTest&copy;) to create or take a test/interview on the go.</p></blockquote> -->
			{% if logged_in_as == "" %}
			<p style='font-size:small;color:#0000aa;'> {{ curdate }}</p>
			<div class="row">
			<span style="padding-left:10px;padding-right:10px;"><h5><a href='{{login_url}}' class='btn btn-primary' style="height:35px;width:150px;font-size:small;color:#0000aa;font-weight:bold;background:url(/static/images/login.png) no-repeat left #D8D8D8;">Login</a></h5></span>
			<span style="padding-left:10px;padding-right:10px;"><h5><a href='{{register_url}}' class='btn btn-primary' style="height:35px;width:150px;font-size:small;color:#0000aa;font-weight:bold;background:url(/static/images/register.png) no-repeat left #D8D8D8;">Register</a></h5></span>
			</div>
			{% else %}
			<div class="row">
			<span style="color:#0000aa;font-size:medium;font-style:oblique;padding-left:15px;">Logged in as {{logged_in_as}} [<a href="/skillstest/logout/">Logout</a>]</span>
			<span style='font-size:small;color:#0000aa;padding-left:15px;line-height:1.5;display:inline-block;vertical-align:bottom;padding-top:4px;'> {{ curdate }}</span>
			</div>
			{% endif %}
			

			</div>
		<p style='color:#505050;text-align:left;font-size:30px;font-family: sans-serif;white-space:nowrap;'>Welcome to TestYard - What Do We Offer</p>
		</div>


		<div class="container-fluid">
		<!-- Content here -->
		

	
          <div class="col-md-4 col-sm-6 feature">
            <img src="img/speaker-1.png" class="speaker-img">
            <h3>Parameterized Tests</h3>
            <p>We empower the user to create tests with a wide range of parameters. Users can create tests with multiple choice questions, subjective questions, programming challenges, and much more. </p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="img/speaker-2.png" class="speaker-img">
            <h3>Secure Tests</h3>
            <p>Tests are conducted over secure connections and have the facility to recognize if the user leaves the test screen. Additionally, test question sequences are random. Check our documentation for more security features.</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="img/speaker-3.png" class="speaker-img">
            <h3>Instant Interviews</h3>
            <p>Using our interview interface, you can create instant audiovisual interviews. This will use your browser window on screen - you don't need to download/install any software for this. Easy.</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="img/speaker-4.png" class="speaker-img">
            <h3>Networks and Groups</h3>
            <p>Frequently, it so happens that we want to throw a test to a certain group of candidates. Think of a class test scenario. TestYard allows creation of groups of users for whom you can create a test schedule. Very convenient.</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="img/speaker-5.png" class="speaker-img">
            <h3>Monetize your Test Networks</h3>
            <p>You can create a premium group (called "Paid Group") from which you can earn when subscribers subscribe to it. Subscribers need to pay an amount (fixed by you, the owner of the group) when they join. More here.</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="img/speaker-6.png" class="speaker-img">
            <h3>Help at Hand</h3>
            <p>We are always available and willing to provide you with any technical support you need. If you want to have a dedicated system for your organization, we would be glad to set it up for you and get you started. This, however, is a premium service. See our subscription plans here. </p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
        </div>

	
		</div>
		
		
		
		<!-- ### Sidebar Begin ### -->

		
		<div id="sidebar">
		
			
		<!-- <ul>

		<li><h2>Search</h2>
		<form id="searchform" method="get" action="#">
			<div>
			<input type="text" value="" name="s" id="searchfield" />
			<input type="hidden" id="searchsubmit" value="Search" />
			</div>

		</form>
		</li>

		</ul>	-->
		
		</div>

		<!-- ### Sidebar End ### -->

	</div>

<div id="content2">
	<p>Copyright &copy; 2023 TestYard - testyard.in 

	<!-- ##### Please leave this small link back to my site. Thank You! ##### -->
	<br />Design: <a href="http://www.tech-questions.net/">Tech-Questions</a> - Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>

</div>

</div>
</body>
</html>



