<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<title>TestYard - Taking Care of Your Skills Testing Needs</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script language='JavaScript' type="text/javascript" src='static/javascript/pageutils.js'></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
.pass_show{position: relative} 
.pass_show .ptxt { 
  position: absolute; 
  top: 50%; 
  right: 10px; 
  z-index: 1; 
  color: #f36c01; 
  margin-top: -10px; 
  cursor: pointer; 
  transition: .3s ease all; 
} 

.pass_show .ptxt:hover{color: #333333;} 
</style>
<script language="JavaScript">
$(document).ready(function(){
  $('.pass_show').append('<span class="ptxt">Show</span>');  
});

$(document).on('click','.pass_show .ptxt', function(){ 
  $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 
  $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
});  
</script>
</head>
<body>
<div id="container">

	<div id="header">	
		<h1><a href="/skillstest/index/" style="text-shadow: rgba(245,245,245,0.5);background-clip: text;-moz-background-clip: text;-webkit-background-clip: text;">TEST<span>YARD</span></a></h1>
		<p style="color:#FFFFFF;font-size:14;font-family: Futura;text-shadow: rgba(245,245,245,0.5);background-clip: text;-moz-background-clip: text;-webkit-background-clip: text;background-color: #666666;font-style:oblique;">Taking care of your skills testing needs...</p>



	</div>
	
	<div id="contentcontainer">
	
		<div id="content">

		<!-- ### Post Entry Begin ###  -->
		
		<div class="post">
			
			<h2>Welcome to TestYard </h2><p style='font-size:small;'> {{ curdate }}</p>
			
			
			<div class="entry">
			
			<!--<p><a href="#">TestYard</a> enables you to conduct tests and interviews for recruitment/promotions/certifications online, so that the probable candidates/employees/professionals can take them at their own convenience. This enables your organization to recruit the best pros' from around the world at a nominal cost.</p>
			<p><a href="#">TestYard</a> also provides various programming/software environments where candidates can actually write code and run them (after compiling/building them, if necessary). This allows you to test your candidates on the real life scenarios for which you are recruiting.</p>
			<blockquote><p class="note">Check our <b>Android</b>&#8482; and <b>iOS</b>&#8482; app (SmartTest&copy;) to create or take a test/interview on the go.</p></blockquote>
			<p></p>-->
			
			</div>
		
		</div>
		
		
<div class="container">
    <form name="frmresetpasswd" method="POST" action="{{reset_passwd_url}}">
	<div class="row">
		<div class="col-sm-4">
	    	       <label>New Password</label>
			<div class="form-group pass_show"> 
			    <input type="password" value="" class="form-control" name="newpasswd" id="newpasswd" style="width:300px;"> 
			</div> 
			<label>Confirm Password</label>
			<div class="form-group pass_show"> 
			    <input type="password" value="" class="form-control" name="repeatnewpasswd" id="repeatnewpasswd" style="width:300px;"> 
			</div> 
			<div class="form-group"> 
			    <input type="button" value="Submit" class="btn btn-primary" style="" name="btnsavepasswd" id="btnsavepasswd" onclick="javascript:resetpassword();"> 
			</div> 
            		<input type="hidden" name='trxkey' id='trxkey' value="{{trxkey}}">
            		{% csrf_token %}
		</div>  
	</div>
    </form>
</div>

<div class="postpagesnav">
		
		</div>
		
		<div id="dummysignindiv" style="display:none;"></div>
		
		</div>
		
		<div id="sidebar">
		
		</div>

		<!-- ### Sidebar End ### -->

	</div>

<div id="content2">
	<p>Copyright &copy; 2023 testyard.in 

	<!-- ##### Please leave this small link back to my site. Thank You! ##### -->
	<br />Design: <a href="http://testyard.in/">TestYard</a> - Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>

</div>

</div>
</body>
</html>
