<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<title>TestYard {{ tab }} - Taking Care of Your Workforce's Testing Needs</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script language='JavaScript' type="text/javascript" src='static/javascript/pageutils.js'></script>
</head>
<body>

<div id="container">

	<div id="header">	
		<h1><a href="#">TEST<span>YARD</span></a></h1>
		<p style="color:#0000FF;font-size:14;font-face:'cursive, Parkavenue';font-style:oblique;">Committed to identifying the best professionals for your business...</p>

		<!-- ### Top Menu ### -->

		<div id="topmenu">
		<ul>
			<li><a href="#" class="highlight">Profile</a></li>	
			<li><a href="#">Dashboard</a></li>	
			<li><a href="#">Subscriptions</a></li>	
		</ul>	
		</div>

	</div>
