<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<title>TestYard {{ pagetitle }} - Taking Care of Your Workforce's Testing Needs</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<script language='JavaScript' type="text/javascript" src='static/javascript/pageutils.js'></script>
</head>
<body>

<div id="container">

	<div id="header">	
		<h1><a href="#">TEST<span>YARD</span></a></h1>
		<p style="color:#0000FF;font-size:14;font-face:'cursive, Parkavenue';font-style:oblique;">Committed to identifying the best professionals for your business...</p>

		<!-- ### Top Menu ### -->

		<div id="topmenu">
		<ul>
			<li><a href="{{ profile_url }}"{{ select_profile }}>Profile</a></li>	
			<li><a href="{{ dashboard_url }}"{{ select_dashboard }}>Dashboard</a></li>	
			<li><a href="{{ subscription_url }}"{{ select_subscription }}>Subscriptions</a></li>	
			<li><a href="{{ tests_url }}"{{ select_tests }}>Tests</a></li>	
			<li><a href="{{ search_url }}"{{ select_search }}>Search</a></li>
			<li><a href="{{ network_url }}"{{ select_socnet }}>Network</a></li>
			<li><a href="{{ analytics_url }}"{{ select_analytics }}>Analytics</a></li>
			<li><a href="{{ aboutus_url }}"{{ select_aboutus }}>About Us</a></li>
			<li><a href="{{ helpndoc_url }}"{{ select_helpndoc }}>Help</a></li>
			<li><a href="{{ careers_url }}"{{ select_careers }}>Careers</a></li>
		</ul>	
		</div>

	</div>
