	
	<div class="postpagesnav">
		
		</div>
		
		</div>
		
		<!-- ### Sidebar Begin ### -->

		
		<div id="sidebar">
			<span nowrap style="color:#0000AA;font-style:italic;">Logged in as {{ displayname }}:&nbsp;&nbsp;<a href="{{ logout_url }}"><b>Logout</b></a></span>	
		<ul>

		<li><!-- <h2>Search</h2> -->
		<form id="searchform" method="get" action="#">
			<div>
			<!-- <input type="text" value="" name="s" id="searchfield" />
			<input type="button" id="searchsubmit" value="Search" /> -->
			</div>

		</form>
		
		<span><p style='color:#0000AA;font-weight:bold;text-align:center;'>Advertise with us Here<br />Call 9711998537</p></span>
		</div>

		<!-- ### Sidebar End ### -->

	</div>
