	<!-- Code pertaining to drag and drop functionality of evaluator groups --> 	
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript'></script> 
	<script src='http://code.jquery.com/ui/1.8.20/jquery-ui.min.js' type='text/javascript'></script> 
	<script src='http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.2.js' type='text/javascript'></script> 
	<script src='http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js' type='text/javascript'></script> 
	<script language='javascript'>
	{{ assocevalgrps }}
	var draggableevalgrps = function () {
            $('#grpnames li').draggable({ 
                appendTo: 'body', 
                helper: 'clone', 
                cursor: 'select', 
                revert: 'invalid' 
            }); 
            initDroppable($('evaluators')); 
            function initDroppable($elements) { 
                $elements.droppable({ 
                    hoverClass: 'textarea', 
                    accept: ':not(.ui-sortable-helper)', 
                    drop: function(event, ui) { 
                        var $this = $(this); 
                        var tempid = ui.draggable.text(); 
                        var dropText; 
                        dropText = ',' + tempid; 
                        var droparea = document.getElementById('evaluators'); 
                        var val = droparea.value; 
			droparea.value = val + dropText;
                    } 
                }); 
            } 
        }
	</script> 
	<style>
	.textarea{background: #fff;}
	.dragitems{width: 20%; float: left; background: #f1f1f1;color:#000000; padding-left:10px;} 
        .dropitems{width: 25%;float: left;background: #f1f1f1;margin-left: 20px;padding:5px 5px 5px 5px;} 
        .dragitems ul{list-style-type: none;padding-left: 5px;display: block;} 
        #content{height: 400px;width: 650px;}
	</style> 
	<!-- Code pertaining to drag/drop evaluator group names ends here -->
	
	{% include "inc/html_head.html" %}	

	{% include "inc/mission_statement.html" %}
		
		<link rel="stylesheet" type="text/css" media="all" href="static/datepick/jsDatePick_ltr.min.css" />
		<script type="text/javascript" src="static/datepick/jsDatePick.min.1.3.js"></script>
		<script type='text/javascript'>
		function loaddatepicker(){
		  new JsDatePick({
		    useMode:2,
		    target:"publishdate",
		    dateFormat:"%d-%M-%Y"
		  });
		  new JsDatePick({
		    useMode:2,
		    target:"activedate",
		    dateFormat:"%d-%M-%Y"
		  });
		}

		// Javascript todo's:
		// 1. evaluator groups drag and drop
		// 2. evaluator groups expansion (containing email ids) in textarea
		// 3. if a group with the same name already exists for the user, show an alert and ask user to rename it. Do this same check during input validation before submitting the form. 
		// 4. submit data when user clicks on 'Continue' button and pass value of 'testlinkid' to the next screen.
		// 5. Both 'activedate' and 'publishdate' should be in 'dd-Mon-yyyy' format. Validate this.

		function validate(){
		  // Need to validate input - 
		  // 1. publishdate < activedate.
		  // 2. Publishdate and activedate cannot be set as past date.
		  var months = {'JAN':'01', 'FEB': '02', 'MAR':'03', 'APR':'04', 'MAY':'05', 'JUN':'06', 'JUL':'07', 'AUG':'08', 'SEP': '09', 'OCT':'10', 'NOV':'11', 'DEC':'12'};
		  alphanumericpattern = new RegExp("^([\\w\\d]+)$");
		  publishdate = document.createtestform.publishdate.value;
		  activedate = document.createtestform.activedate.value;
		  if(activedate.trim() == ''){
		    activedate = publishdate;
		  }
		  publishdateparts = publishdate.split("-");
		  pubdd = publishdateparts[0];
		  pubmm = months[publishdateparts[1]];
		  pubyyyy = publishdateparts[2];
		  pubdateobj = Date.parse(pubyyyy + "-" + pubmm + "-" + pubdd);
		  activedateparts = activedate.split("-");
		  activedd = activedateparts[0];
		  activemm = months[activedateparts[1]];
		  activeyyyy = activedateparts[2];
		  activedateobj = Date.parse(activeyyyy + "-" + activemm + "-" + activedd);
		  today = new Date();
		  if(pubdateobj < today || activedateobj < today){
		    alert("Publish date and activation date cannot be historical");
		    return(false);
		  }
		  if(pubdateobj > activedateobj){
		    alert("Publish date must be before activation date");
		    document.createtestform.publishdate.focus();
		    return (false);
		  }
		  // 3. Number of evaluators cannot be greater than 11 (incl. creator).
		  // 4. Check if any evaluator emails have been repeated.
		  // 5. Evaluators field ('evaluators') should contain email ids only, separated by commas'. Evaluator group names should be expanded on drop using 'expandevaluatorgroup()' function.
		  // 6. Enforce limit on email id length (75 characters as set in DB).
		  // 7. Check email id sanity (shd contain @.)
		  evaluators = document.createtestform.evaluators.value;
		  evaluatoremails = evaluators.split(",");
		  if(evaluatoremails.length > 11){
		    alert("You may enter a maximum of 11 evaluators - (10 evaluators + 1 creator)");
		    document.createtestform.evaluators.focus();
		    return(false);
		  }
		  var emailpattern = new RegExp("[@\.]+");
		  var uniqevals = {};
		  for(var i=0;i < evaluatoremails.length;i++){
		    email = evaluatoremails[i].trim();
		    //alert(email);
		    if(email == ""){ // Ignore empty emails.
		      continue;
		    }
		    if(!emailpattern.test(email)){
		      alert("Only email ids are permitted in evaluators field.");
		      document.createtestform.evaluators.focus();
		      return(false);
		    }
		    if(email in uniqevals){
		      alert("Email id '" + email + "' has been repeated. Please remove duplicated emails before submitting.");
		      return(false);
		    }
		    else{
		      uniqevals[email] = '1';
		    }
		    if(email.length > 75){
		      alert("Max length of an email Id can be 75 characters.");
		      document.createtestform.evaluators.focus();
		      return(false);
		    }
		  }
		  // 8. Ensure that test duration >= challenge duration.
		  // 9. If each challenge has same score, then number of challenges x per challenge score = total score.
		  testdur = document.createtestform.testduration.value;
		  durunit = document.getElementById('testdurationunit').value;
		  testdur_sec = testdur;
		  if(durunit == 'h'){
		    testdur_sec = testdur * 3600;
		  }
		  else if(durunit == 'm'){
		    testdur_sec = testdur * 60;
		  }
		  challdur = document.createtestform.challengeduration.value;
		  durunit = document.getElementById('challengedurationunit').value;
		  if(challdur.trim() == ''){
		    challdur = 0
		  }
		  challdur_sec = challdur;
		  if(durunit == 'h'){
		    challdur_sec = challdur * 3600;
		  }
		  else if(durunit == 'm'){
		    challdur_sec = challdur * 60;
		  }
		  if(challdur_sec != 0 && challdur_sec > testdur_sec){
		    alert("Time taken to solve a single challenge cannot be greater than the duration of the entire test.");
		    document.createtestform.testduration.focus();
		    return(false);
		  }
		  // 10.Check if all required fields have sane values. List of required fields and their data constraints are as follows:
		  // testname (alphanumeric)
		  // testrules (check not necessary as items are selected from dropdown)
		  // testtopic (check not necessary as items are selected from dropdown)
		  // totalscore (should be numeric)
		  // testduration (should be numeric).
		  // That should be all. Rest are checked in various field specific tests.
		  alphanumericspacepattern = new RegExp("^[\\w\\d\\s]+$");
		  numericpattern = new RegExp("^\\d+$");
		  if(!alphanumericspacepattern.test(document.createtestform.testname.value)){
		    alert("Test name may contain alphanumeric characters and white space.");
		    document.createtestform.testname.focus();
		    return(false);
		  }
		  if(!numericpattern.test(document.createtestform.totalscore.value.trim())){
		    alert("Total score should be numeric");
		    document.createtestform.totalscore.focus();
		    return(false);
		  }
		  if(!numericpattern.test(document.createtestform.testduration.value.trim())){
		    alert("Test duration should be numeric");
		    document.createtestform.testduration.focus();
		    return(false);
		  }
		  // 11.Group names ('grpname') should be single word strings containing alphanumeric characters only.
		  grpname = document.createtestform.grpname.value.trim();
		  // alert(grpname);
		  if(!alphanumericpattern.test(grpname)){
		    alert("Evaluator group names may contain alphanumeric characters only.");
		    document.createtestform.grpname.focus();
		    return(false);
		  }
		  // 12.'passscore' should be numeric and should be less than 'totalscore'.
		  if(document.createtestform.passscore.value.trim() != '' && (!numericpattern.test(document.createtestform.passscore.value.trim()) || parseInt(document.createtestform.passscore.value.trim()) > parseInt(document.createtestform.totalscore.value.trim()))){
		    alert("Pass score should be numeric and less than total score");
		    document.createtestform.passscore.value = '';
		    document.createtestform.passscore.focus();
		    return(false);
		  }
		  return(true);
		}


		function createtest(usrid){
		  if(!validate()){
		    return false;
		  }
		  // We make an ajax call to the correct view and after we are
		  // done, we replace the div showing the create test form
		  // with the form for adding a challenge/question.
		  var xmlhttp;
		  if (window.XMLHttpRequest){
		    xmlhttp=new XMLHttpRequest();
		  }
		  else{
		    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		  }
		  postdata = "";
		  for(var i=0; i < document.forms[0].elements.length; i++){
		    elementname = document.forms[0].elements[i].name;
		    elementvalue = document.forms[0].elements[i].value;
		    if(document.forms[0].elements[i].type == 'radio'){
		      if(document.forms[0].elements[i].checked == true){
			postdata += elementname + "=" + elementvalue + "&";
			continue;
		      }
		    }
		    else if(document.forms[0].elements[i].type == 'checkbox'){
		      if(document.forms[0].elements[i].checked == true){
			postdata += elementname + "=" + elementvalue + "&";
			continue;
		      }
		    }
		    else if(document.forms[0].elements[i].type == 'select-multiple'){
		      postdata += elementname + "="
		      for(var j=0; j < document.forms[0].elements[i].options.length; j++){
			if(document.forms[0].elements[i].options[j].selected == true){
			  postdata += document.forms[0].elements[i].options[j].value + '#||#';
			}
		      }
		      postdata += "&";
		    }
		    else{
		      postdata += elementname + "=" + elementvalue + "&";
		    }
		  }
		  // Remove quote marks from values
		  postdata = postdata.replace(/\"/g,'');
		  // alert(postdata);
		  xmlhttp.onreadystatechange = function(){
		    // alert(xmlhttp.responseText);
		    if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		      // Data has been posted successfully, so show the challenge insertion form.
		      var thediv=document.getElementById('createtestdiv');
		      thediv.style.display = "";
		      thediv.innerHTML = "{% include 'tests/edit_challenge.html' %}";
		      return(false);
		    }
		  };
		  xmlhttp.open('POST','{{ createtesturl }}', true);
		  xmlhttp.send(postdata);
		  showworking();
		}

		function expandevaluatorgroup(){
		  {{ assocevalgrps  }}
		}

		function autosuggestgrpname(){
		  // Suggest a name for the group only if the group name is empty.
		  // That would mean the  user has not yet decided upon a name, so a suggestion is in order.
		  if(document.createtestform.grpname.value == ""){
		    evalemail1 = document.createtestform.evaluators.value;
		    emailparts = evalemail1.split("@");
		    // check if the group name assigned in emailparts[0] already exists in 'evalgrpsdict'. If so, add a digit to it to make it unique.
		    digit = 1;
		    if(!(emailparts[0] in evalgrpsdict)){
		      document.createtestform.grpname.value = emailparts[0];
		    }
		    else{
		      tmpgrpname = emailparts[0] + str(digit);
		      while(tmpgrpname in evalgrpsdict){
			digit = digit + 1;
			tmpgrpname = emailparts[0] + str(digit);
		      }
		      document.createtestform.grpname.value = tmpgrpname;
		    }
		  }
		}


		function othertopicfield(){
		  if(document.getElementById('testtopic').value=='&quot;Other&quot;'){ // this is ugly, needs to be sanitized.
		    othertopicdiv = document.getElementById('othertopic')
		    othertopicdiv.style.display = "";
		    othertopicdiv.innerHTML = "<input type='text' name='othertopicname' value='if other, please specify here' onfocus=this.value='';>"
		  }
		  else{
		    othertopicdiv = document.getElementById('othertopic')
		    othertopicdiv.style.display = "none";
		    othertopicdiv.innerHTML = ""
		  }
		}

		function checktestnameavailability(value){
		  var existingtestnames = Array({{ existingtestnames }});
		  warnspan = document.getElementById('testnamewarning');
		  for(var i=0;i<existingtestnames.length;i++){
		    if(value == existingtestnames[i]){
		      warnspan.style.display = "";
		      warnspan.innerHTML = "<font color='#AA0000'>You already have a test with the same name. Please enter a different name.</font>";
		      return true; // Doesn't matter what you return.
		    }
		  }
		  if(value.trim() != ""){
		    warnspan.style.display = "";
		    warnspan.innerHTML = "<img src='static/images/greendot2.jpg' height='20' width='20' style='dislay:none;'><font color='#00AA00'>Available</font>";
		    return true;
		  }
		  else{
		    warnspan.style.display = "none";
		    warnspan.innerHTML = "";
		    return true;
		  }
		}

		function displayattemptparams(){
		  var attemptparamsdiv=document.getElementById('attemptparams');
		  if(document.createtestform.multipleattemptsallowed.checked == true){
		    attemptparamsdiv.style.display = "";
		    attemptparamsdiv.innerHTML = "<b>Maximum attempts allowed: </b><input type='text' name='maxattemptscount' value='10' maxlength='4' size='4' onblur='javascript:checknumeric(this);' title='Enter -1 if unlimited'><br /><b>Interval between 2 consecutive attempts: </b><input type='text' name='attemptsinterval' value='1' maxlength='4' size='4' onblur='javascript:checknumeric(this);'><select name='attemptsintervalunit'><option value='m'>Minutes</option><option value='h'>Hours</option><option value='d' selected>Days</option><option value='M'>Months</option><option value='y'>Years</option></select><br />";
		  }
		  else{
		    attemptparamsdiv.style.display = "none";
		    attemptparamsdiv.innerHTML = "";
		  }
		}

		function closediv(){
		  var thediv=document.getElementById('createtestdiv');
		  thediv.style.display = "none";
		  thediv.innerHTML = '';
		}

		function showcreatetestform(uid){
		  // Populate the div (id='createtestdiv') with the form
		  var thediv=document.getElementById('createtestdiv');
		  if(thediv.style.display == "none"){
		    thediv.style.display = "";
		    thediv.innerHTML = "{% include 'tests/create_test_form.html' %}";
		  }
		  else{
		    thediv.style.display = "none";
		    thediv.innerHTML = '';
		  }
		  return false;
		}
		</script>

		<div class="post">
			<span class="meta">
			<h3>Dear {{ displayname }},</h3>
			{{ msg }} {{ newuser }}
			<div class="entry">
			<!-- Tests HTML goes here. -->
			<div id='createtestdiv' style='display: none;'></div>
			<h3><font color='#00BB00'>You may create a new test by clicking on this link: {{ createlink }}</font></h3>
			<h3><font color='#00BB00'>And here are the past details of all tests (created/owned tests, evaluated tests and tests taken) associated with your account: </font></h3>
			{{ test_tables }}
			
			</div>
			</span>
		</div>
		
		<!-- ### Post Entry End ###  -->

	{% include "inc/right_panel.html" %}
		
	{% include "inc/html_foot.html" %}
