<doctype 'html'>
<head>
<title> Wait Please!!!</title>
</head>
<body  bgcolor='#669999'>
<div id="container">
	<div id="header">
		<h1><a href="#">TEST<span>YARD</span></a></h1>
		<p style="color:#0000FF;font-size:14;font-face:'cursive, Parkavenue';font-style:oblique;">Committed to identifying the best professionals for your business...</p>
 	</div>
</div>
<div style="align:center;color:blue">
The interview named "{{interviewtitle}}" has been scheduled on {{scheduledatetime}}. An email containing the link to the interview screen has been emailed to you at the following email address: {{email}}. To join the interview, you will need to click on that link at the scheduled hour. 
</div>
<span style="align:center"> <form name='temp'><input type='button' name='btnclose' value='Close window' onClick='javascript:window.close();'></form></span>
</body>
</html>

