body {
  padding: 0;
  margin: 0;
  background: #F7E8DE;
  min-width: 510px;
}

.header{
  font: oblique lighter 30px 'Exo 2', sans-serif;
  text-align: center;
}

.title{
  font-size: 100px !important;
}

.watch-wrapper{
  background: white;
  padding: 20px 0;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 1px #000;
  -moz-box-shadow: 0px 0px 10px 1px #000;
  -webkit-box-shadow: 0px 0px 10px 1px #000;
}

.watch{
  margin: 0 auto;
  width: 480px;
}

.controls{
  width: 128px;
  padding: 10px;
  height: 40px;
  margin: 0 auto;
  background: #DBD2C2;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.56);
}

#control{
  display: inline-block;
  margin: 10px;
  height:100px;
  width:100px;
}

.button {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #968989;
}

canvas + span {
  font-family: 'Exo 2', sans-serif;
  font-weight: lighter;
  font-style: oblique;
}
