	{% include "inc/html_head.html" %}
	
	{% include "inc/mission_statement.html" %}
		<!-- ### Post Entry Begin ###  -->

		<div class="post">
			<span class="meta">
			<div class="entry">
			<font color='#3333CC' size='+3'><i>About TestYard</i></font>
			<br /><br />
			<font color='#0000AA' face="verdana" size=-1>TestYard<sup>TM</sup>, as an application, facilitates the creation, scheduling and taking tests in various modes - written, verbal and audio-visual. TestYard, as an organization, is responsible for the creation and maintainence of this website and application, and effecting enhancements/modifications to it, as and when it deems fit. 
<br /><br />
TestYard allows users to create accounts on this website and post their content (questionaires, tests, answers to questions, etc). It also allows users to form groups for the purpose of facilitating tests to a certain selected congregation of users. The administrators of TestYard intend to keep an eye on the content posted on the website, but since the number of users can be quite large, it is effectively impossible to track what each user is posting. Should you come across any offensive content, please notify us at 'admin@testyard.com' with the username of the user as well as the URL of the page where the content is posted. We will certainly review it and take appropriate action within a reasonable timeframe of 48 hours (sorry, we can't make it any earlier than that as we are short on personnel right now, and as we are a startup, we have the usual problem of a stable financial source, or its lack thereof).
<br /><br />
Now, you might be asking who 'we' are. Good question. As a matter of fact, we are a bunch of software developers cum aspiring enterpreneurs trying to make a dime by offering this service. If you are a non-corporate user, we don't charge you anything for the first {{freetestscount}} tests. Thereafter, you will be charged for each test you create based on the number of test takers you intend to throw the test on. (It is ok if you don't have an estimate of the number of actual users who will be given the test, you will pay as you go). You will find the details of the subscription and payment plans under the "Subscriptions" tab of the website. If you are a corporate user, we have a slightly different plan of payment, and that too is described under the "Subscriptions" tab.
<br /><br />
My name is Supriyo, an Indian male, but I am sure that doesn't mean much to you. I am not a celebrity (and I don't aspire to be one), so chances are you won't recognize me by the name. I have been dabbling in the field of software development for about 10 years now, and have worn the garb of a 'developer', a 'QA', 'automation engineer', 'infrastructure engineer', 'tech lead' amongst others. Mostly, I have been a developer. The languages I have been associated with are python, perl, c, c++ and javascript. My hobby is traveling and indulging in adventures of the mind, though I just get enough time to travel between my home and office for about 300 days a year. As for adventures of the mind, the less I say, the better. Well, I guess thats enough about me. I do have a few friends here by my side running this show, and I will add an intro about them once they give me the thumbs up on that. I haven't asked them about it yet, but I will do so shortly.
<br /><br />
We, on behalf of TestYard, earnestly request you to use this website and application for your skills testing requirements (and thus pave our way to earning a few bucks). Even though we have tried to make this application intuitive, I am sure we have fallen short in certain features. To use this application effectively, I would suggest you to check out our help and documentation under the "Help" tab and possibly watch the youtube video that shows the basic usage of this application.
<br /><br />
And of course, should you come across any issues, do please scream at support@testyard.com. I promise to lend you my ear. And help you with your issue too.
<br /><br />
Good luck!
<br /><br />
The TestYard Team.
<br /><br />	</font></div>
			</span>
		</div>
		
		<!-- ### Post Entry End ###  -->

	{% include "inc/right_panel.html" %}
		
	{% include "inc/html_foot.html" %}
