<div style='padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px;'>
<div class='form-group' style='padding-left:10px;padding-right:5px;'><input type='button' name='btnclose' value='Close' class='btn-testyard1' style='width:100px;color:#ffffcc;background-color:#0099cc;' onclick='javascript:closelist();'></div>
<br/>
<span style='padding-left:20px;padding-top:15px;font-weight:bold;color:#0000AA;font-size:larger;'>List of Groups Subscribed</span>
<hr style='width:80%;'>
<ul>
{% for grplink in grouplinkslist %}
<li>&nbsp;&nbsp;
<div class='row'>
 {{grplink}}
</div>
</li>
{% endfor %}
</ul>
<br/>
<div style='display:none;' id="transscreensgrp" class="semitrans"></div>
<div style='display:none;' id="transscreensgrp2" class="semitrans2"></div>
<div class='form-group' style='padding-left:10px;padding-right:5px;'><input type='button' name='btnclose' value='Close' class='btn-testyard1' style='width:100px;color:#ffffcc;background-color:#0099cc;' onclick='javascript:closelist();'></div>

