<div>
<span width='30%'><img src='media/{{displayname}}/images/{{profileimage}}' style='height:80px;width:80px;'></span><br /><span width='30%'><font color='#0000AA' size=-1>{{displayname}}</font>&nbsp;&nbsp;<font color='#0000AA' size=-1>({{goodname}})</font></span>&nbsp;&nbsp;&nbsp;&nbsp;|<span width='40%' align='right'><a href='#/' onclick="javascript:sendamessage('{{useremail}}');"><font color='#0000AA' size=-1><i>Send a message</i></font></a></span>|<span width='40%' align='right'><a href='#/' onclick="javascript:closescreen();"><font color='#0000AA' size=-1><i>Close Screen</i></font></a></span>
</div>
<hr>
<table border='0' cellspacing='2' cellpadding='2'>
<tr>
<td align='left'>
<span width='70%' id='testspan'>
<div id='testsdiv'>
<font color='#0000AA' style='font-weight: bold' size=-1>Tests Taken</font><br />
<table border='1' cellspacing='4' cellpadding='4' width='80%'>
<tr><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Test Name</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Test Score</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Outcome</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Taken On</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Evaluated On</font></td></tr>
{% for testdict in usertests.taken %}
<tr><td align='center'><font color='#0000AA' size=-1>{{testdict.testname}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testscore}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testoutcome}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.teststarttime}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.evaluationtime}}</font></td></tr>
{% endfor %}
</table>
<br />
<font color='#0000AA' style='font-weight: bold' size=-1>Tests Scheduled/Not Taken</font><br />
<table border='1' cellspacing='4' cellpadding='4' width='80%'>
<tr><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Test Name</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Test Score</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Outcome</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Valid From</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Valid Till</font></td></tr>
{% for testdict in usertests.nottaken %}
<tr><td align='center'><font color='#0000AA' size=-1>{{testdict.testname}}</font></td><td align='center'><font color='#0000AA' size=-1>NA</font></td><td align='center'><font color='#0000AA' size=-1>NA</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testvalidfrom}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testvalidtill}}</font></td></tr>
{% endfor %}
</table>
<br />
<font color='#0000AA' style='font-weight: bold' size=-1>Tests Being Taken</font><br />
<table border='1' cellspacing='4' cellpadding='4' width='80%'>
<tr><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Test Name</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Test Score</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Outcome</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Started On</font></td><td align='center'><font color='#0000AA' style='font-weight: bold' size=-1>Valid Till</font></td></tr>
{% for testdict in usertests.taking %}
<tr><td align='center'><font color='#0000AA' size=-1>{{testdict.testname}}</font></td><td align='center'><font color='#0000AA' size=-1>NA</font></td><td align='center'><font color='#0000AA' size=-1>NA</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.teststarttime}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testvalidtill}}</font></td></tr>
{% endfor %}
</table>
<br />
<br />
<font color='#0000AA' style='font-weight: bold' size=-1>Tests Owned</font><br />
<table border=1 cellspacing='4' cellpadding='4' width='80%'>
<tr><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Name</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Topic</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Type</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Max Score</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Pass Score</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Publish Date</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Evaluators</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Takers Count</font></td></tr>
{% for testdict in ownedtests %}
<tr><td align='center'><font color='#0000AA' size=-1>{{testdict.testname}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.topicname}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testtype}}*</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.maxscore}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.passscore}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.publishdate}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.evaluators}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.countuserstaken}}</font></td></tr>
{% endfor %}
</table>
<br />
<br />
<font color='#0000AA' style='font-weight: bold' size=-1>Tests Evaluated</font><br />
<table border=1 cellspacing='4' cellpadding='4' width='80%'>
<tr><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Name</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Topic</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Type</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Max Score</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Pass Score</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Publish Date</font></td><td align='center' nowrap><font color='#0000AA' style='font-weight: bold' size=-1>Test Takers Count</font></td></tr>
{% for testdict in evaluatedtests %}
<tr><td align='center'><font color='#0000AA' size=-1>{{testdict.testname}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.topicname}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.testtype}}*</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.maxscore}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.passscore}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.publishdate}}</font></td><td align='center'><font color='#0000AA' size=-1>{{testdict.countuserstaken}}</font></td></tr>
{% endfor %}
</table>
<font color='#0000AA' size=-1><i>*Test Type => MULT : Multiple Choice Question, FILB : Fill in the Blanks, SUBJ : Subjective, CODN : Coding Test, ALGO : Algorithm Test, COMP : Composite Test containing one or more of the above type questions.</i></font>
</span>
</td>
<td align='center'><img src='static/images/thinblueverticalline.png' width="2px" height="100%"></td>
<td align='center' valign='top' nowrap>
<font color='#0000AA' style='font-weight: bold' size=-1>Groups Owned</font><br />
<span width='30%' id='grpconnspan'>
<div id='owneddiv'>
<font color='#0000AA' size=-1><a href='#/' onClick="javascript:expandownedgroups('{{connectedid}}');"><img src='static/images/plussign.png' style='height:15px;width:15px;'>View All</a></font>
</div>
<div id='neutraldiv1'>
<hr>
</div>
<div id='memberdiv'>
<font color='#0000AA' style='font-weight: bold' size=-1>Groups Subscribed</font><br />
<font color='#0000AA' size=-1><a href='#/' onClick="javascript:expandmembergroups('{{connectedid}}');"><img src='static/images/plussign.png' style='height:15px;width:15px;'>View All</a></font>
</div>
<div id='neutraldiv2'>
<hr>
</div>
<div id='connectiondiv'>
<font color='#0000AA' style='font-weight: bold' size=-1>Connections</font><br />
<font color='#0000AA' size=-1><a href='#/' onClick="javascript:expandconnections('{{connectedid}}');"><img src='static/images/plussign.png' style='height:15px;width:15px;'>View All</a></font>
</div>
</span>
</td>
</tr>
</table>
</div>

<div id='ctrldiv'>
<form name='ctrlfrm' id='ctrlfrm' method='GET' action=''>
{% csrf_token %}
<center><input type='button' name='btnclose' id='btnclose' value='Close' onClick='javascript:closemessagescreen();'>&nbsp;&nbsp;<input type='button' name='btnblock' id='btnblock' value='Block User' onClick='javascript:blockuser();'>&nbsp;&nbsp;<input type='button' name='btnremoveconn' id='btnremoveconn' value='Remove Connection' onClick='javascript:removeconn();'></center>
</form>
</div>


