<div id="contentcontainer">
	
		<div id="content">

		<!-- ### Post Entry Begin ###  -->
		
		
		<div class="post">
			<div id='welcome'>
			    {% if displayname != "" %}
				{{ profile_image_tag }}
				<div nowrap style="color:#0000AA;font-style:italic;">
					Logged in as {{ displayname }}:&nbsp;&nbsp;<a href="{{ logout_url }}"><b>Logout</b></a>
				</div>	
	  		    {% else %}
	  		        <div nowrap style="color:#0000AA;font-style:italic;">&nbsp;</div>
			    {% endif %}
				<h2>Welcome to TestYard </h2>
				<h3> {{ curdate }} </h3>
			</div>
			<!-- Advertisement Slot -->
			
			<div class="entry">
				<div>
					<p style='color:#0000AA;font-weight:bold;text-align:center;'>Advertise with us Here<br />Call 9711998537</p>
				</div>
			</div>
		</div>
		
		<!-- ### Post Entry End ### -->
