<div id="contentcontainer">
	
		<div id="content">

		<!-- ### Post Entry Begin ###  -->
		
		<div class="post">
			{% if profile_image_tag != "" %}
			<span id='welcome'>{{ profile_image_tag }}<h2>Welcome to TestYard </h2><h3> {{ curdate }}
			{% else %}
			<h2>Welcome to TestYard </h2><h3> {{ curdate }}
			{% endif %}
			
			<div class="entry">
			
			<p><a href="#">TestYard</a> enables you to conduct tests and interviews for recruitment/promotions/certifications online, so that the probable candidates/employees/professionals can take them at their own convenience. This enables your organization to recruit the best pros' from around the world at a nominal cost.</p>
			<p><a href="#">TestYard</a> also provides various programming/software environments where candidates can actually write code and run them (after compiling/building them, if necessary). This allows you to test your candidates on the real life scenarios for which you are recruiting.</p>
			<blockquote><p>Check our Android&#8482; and iOS&#8482; app (SmartTest&copy;) to create or take a test/interview on the go.</p></blockquote>
			<p></p>
			
			</div></h3></span>
		
		</div>

		<!-- ### Post Entry End ### -->
