"<Test Name>", "[Test Type]", "<Test Rules>", "<Test Topic>", "[Other Topic Name]", "<Total Score>", "[Number of Challenges]", "<Does Each Challenge have same score?>", "[Will incorrect response to a challenge bear negative score?]", "[Minimum Score to Pass]", "<Test Duration>", "<Test Duration Unit>", "<Max Duration per Challenge>", "<Challenge Duration Unit>", "<Add Evaluator email Ids>", "<Evaluator Group Name>", "[Publish this test on]", "[Activate this test on]", "[This test is targeted at candidates with ____ skill level]", "[Test Scope]", "[Answering Language]", "[Does this test require a computer programming environment]", "[This test needs sound/image in challenge statements]", "[Challenges should be randomly sequenced]", "[Allow multiple attempts by candidates]", "[Maximum attempts allowed]", "[Interval between 2 consecutive attempts]", "[Interval Unit]"

"<Challenge Statement #1>", "<Challenge Score>", "[Time Allocated, if any]", "[Negative Score]", "[Image path on local file system]", "[Link to external resource, if any]", "<Challenge Type>", "[Is it compulsory for the user to respond?]", "[Can there be more than one correct option?]", "[Challenge Quality]", "[Correct Response]", "[Option #1]", "[Option #2]", "[Option #3]", "[Option #4]", ....
"<Challenge Statement #2>", "<Challenge Score>", "[Time Allocated, if any]", "[Negative Score]", "[Image path on local file system]", "[Link to external resource, if any]", "<Challenge Type>", "[Is it compulsory for the user to respond?]", "[Can there be more than one correct option?]", "[Challenge Quality]", "[Correct Response]", "[Option #1]", "[Option #2]", "[Option #3]", "[Option #4]", ....
"<Challenge Statement #3>", "<Challenge Score>", "[Time Allocated, if any]", "[Negative Score]", "[Image path on local file system]", "[Link to external resource, if any]", "<Challenge Type>", "[Is it compulsory for the user to respond?]", "[Can there be more than one correct option?]", "[Challenge Quality]", "[Correct Response]", "[Option #1]", "[Option #2]", "[Option #3]", "[Option #4]", ....
