<div id="headerpanel">
    <center><font color='#0000AA' style='font-weight: bold'>{{groupname}}</font> - <font color='#0000AA'><i>{{tagline}}</i></font></center>
    <p><div id='descdiv'><span width='70%' align='center'><i><font size=-1 color='#0000AA'>{{ description }}</font></i></span></div></p>
</div>

{% if userisowner %}
<div id='openclose'>
<font size=-1 color='#0000AA' style='font-weight: bold'>Settings<a href='#/' onClick='javascript:expandcollapsesettings("{{groupimagefile}}", "{{memberscount}}", "{{maxmemberslimit}}", "{{basedontopic}}", "{{grouptype}}", "{{allowentry}}", "{{ispaid}}", "{{entryfee}}", "{{adminremarks}}", "{{testname}}", "{{groupname}}", "{{bankname}}", "{{bankbranch}}", "{{accountownername}}", "{{accountnumber}}", "{{ifsccode}}");'>Open</a></font>
</div>
<div id="paramspanel" style="">
</div>
{% endif %}

