		{% include "inc/html_head.html" %}

	<style>
	.semitrans {
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	  filter: alpha(opacity=90);
	  opacity: 0.9;
	  -moz-opacity: .90; 
	  -khtml-opacity: 0.9;
	  background-color:#669999;
	  color:#FFFFFF;
	  position:absolute; top:250px; left:0px; width:80%; height:150%; text-align:left; vertical-align:middle;padding-left:25px;padding-top:35px;padding-right:50px;
	}

	.tbl-fixed-width{
    	  table-layout:fixed;
    	  width: 100%;
	  word-wrap: break-word;
	}
	</style>

	<script language='JavaScript'>

	function senddataasync(uriencodeddata, httpmethod, targeturl){
	    var xmlhttp;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
                //alert(xmlhttp.responseText);
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    alert(xmlhttp.responseText);
	        }
	    };
	    xmlhttp.open(httpmethod, targeturl, true);
	    xmlhttp.send(uriencodeddata);
	}


	function closegroupdivscreen(ctr){
	    showgroupdivarea = document.getElementById("showgroupdiv_" + ctr);
	    showgroupdivarea.style.display = "none;";
	    showgroupdivarea.innerHTML = "";
	}


        function showtestinfo(testid, ctr){
	    var xmlhttp;
	    formid = "csrfform_" + ctr;
	    csrfform = document.getElementById(formid);
	    postdata = "testid=" + testid + "&csrfmiddlewaretoken=" + csrfform.csrfmiddlewaretoken.value;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    // Open popup (disgusting!) and show data.
		    testinfowin = window.open("", "testinfowindow", "width=400, height=400, location=no, menubar=no, scrollbars=yes,toolbar=no,  titlebar=no, resizable=no, toolbar=no, status=no");
		    jsondata = JSON.parse(xmlhttp.responseText);
		    html = "<html><head><title>Test Info</title></head><body bgcolor='#669999'>";
		    if(jsondata['warning'] == ""){
			html += "<center><h3>" + jsondata['testname'] + "</h3></center>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Topic: " + jsondata['topicname'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Test Owner: " + jsondata['creatorname'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Test Type: " + jsondata['testtype'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Max Score: " + jsondata['maxscore'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Pass Score: " + jsondata['passscore'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Number of Challenges: " + jsondata['numchallenges'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Number of attempts allowed: " + jsondata['maxattemptscount'] + "</font><br>";
			if(parseInt(jsondata['maxattemptscount']) > 1){
			    html += "<font color='#0000AA' style='font-weight:bold' size=-1>Minimum Interval between 2 successive attempts: " + jsondata['attemptsinterval'] + " " + jsondata['attemptsintervalunit'] + "</font><br>";
			}
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Quality: " + jsondata['quality'] + "</font><br>";
			html += "<font color='#0000AA' style='font-weight:bold' size=-1>Negative Scoring: " + jsondata['negativescoreallowed'] + "</font><br>";
		    }
		    else{
			html += "<center>" + jsondata['warning'] + "</center>";
		    }
		    html += "<br><center><input type='button' name='btnclose' id='btnclose' value='Close' onClick='javascript:window.close();'></center>";
		    html += "</body></html>";
		    testinfowin.document.write(html);
	        }
	    };
	    xmlhttp.open('POST', '{{showtestinfourl}}', true);
	    xmlhttp.send(postdata);
 	}


	function sendjoinrequest(grpid, ctr){
	    formid = "csrfform_" + ctr;
	    csrfform = document.getElementById(formid);
	    csrftoken = csrfform.csrfmiddlewaretoken.value;
	    validfrom = '{{ validfrom }}';
	    encodedpostdata = "groupid=" + grpid + "&csrfmiddlewaretoken=" + csrftoken;
	    progdiv = document.getElementById('showprogress_' + ctr.toString());
	    progdiv.innerHTML = "<img src='static/images/loading_small.gif'>";
	    progdiv.style = "";
	    var xmlhttp;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    alert(xmlhttp.responseText);
		    progdiv.style = "display:none";
	    	    progdiv.innerHTML = "";
		    closegroupdivscreen(ctr);
	        }
	    };
	    xmlhttp.open('POST', '{{ joinrequesturl }}', true);
	    xmlhttp.send(encodedpostdata);
	}

	// Function to send a gentle reminder to the group's owner to allow the 
	// logged in user into the group.
	function sendgentlereminder(grpid, ctr, testid){
	    formid = "csrfform_" + ctr;
	    csrfform = document.getElementById(formid);
	    csrftoken = csrfform.csrfmiddlewaretoken.value;
	    encodedpostdata = "groupid=" + grpid + "&csrfmiddlewaretoken=" + csrftoken;
	    if(testid && testid != null){
		encodedpostdata += "&testid=" + testid;
	    }
	    progdiv = document.getElementById('showprogress_' + ctr.toString());
	    progdiv.innerHTML = "<img src='static/images/loading_small.gif'>";
	    progdiv.style = "";
	    var xmlhttp;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    alert(xmlhttp.responseText);
		    progdiv.style = "display:none";
	    	    progdiv.innerHTML = "";
		    closegroupdivscreen(ctr);
	        }
	    };
	    xmlhttp.open('POST', '{{ gentlereminderurl }}', true);
	    xmlhttp.send(encodedpostdata);
	}

	// Function to allow the user to exit from a given group
	function grpexitrequest(grpid, ctr, testid){
	}


	function showgrouppage(grpmembername, grpname, csrftoken, ctr){
	    showgroupdivarea = document.getElementById("showgroupdiv_" + ctr);
	    showgroupdivarea.style = "";
	    html = "";
	    postdata = "groupname=" + grpname + "&csrfmiddlewaretoken=" + csrftoken + "&membername=" + grpmembername;
	    postdatauriencoded = encodeURI(postdata);
	    showgroupdivarea.innerHTML = "";
	    var xmlhttp;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    jsobj = JSON.parse(xmlhttp.responseText);
		    html = "";
		    if(jsobj.groupimagefile){
			html += "<img src='static/images/" + jsobj.groupimagefile + "'>";
		    }
		    html += "<br /><form name='csrfform_" + ctr + "' id='csrfform_" + ctr + "'>{% csrf_token %}</form><br />";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Number of members: " + jsobj.memberscount + "</font></span><br>";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Group Type: " + jsobj.grouptype + "</font></span><br>";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Group Topic: " + jsobj.topic + "</font></span><br>";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Group Owner: " + jsobj.owner + "</font></span><br>";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Created On: " + jsobj.creationdate + "</font></span><br>";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Stars: " + jsobj.stars + "</font></span><br>";
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Paid: " + jsobj.ispaid + "</font></span><br>";
		    if(jsobj.ispaid){
		        html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Entry Fee: " + jsobj.entryfee + "</font></span><br>";
		    }
		    html += "<span width='60%'><font color='#0000AA' style='font-weight:bold' size=-1>Admin Remarks: " + jsobj.adminremarks + "</font></span><br>";
		    if(jsobj.allowentry){
			if(jsobj.alreadyrequested == '0' && jsobj.alreadyrefused == '0' && jsobj.alreadyallowed == '0' && jsobj.alreadyignored == '0'){
		            html += "<span width='80%' align='center'><form name='frmjoingroup' id='frmjoingroup' method='POST' action=''><table border=0><tr><td align='center' nowrap><input type='button' name='btnjoinrequest' id='btnjoinrequest' value='Send join request' onClick='javascript:sendjoinrequest(\"" + jsobj.groupid +  "\", \"" + ctr + "\");'><span id='showprogress_" + ctr + "' style=''>&nbsp;</span>&nbsp;&nbsp;<input type='button' name='btnclosejoin' id='btnclosejoin' value='Close' onClick='javascript:closegroupdivscreen(" + ctr + ");'></td></tr></table>{% csrf_token %}<input type='hidden' name='groupid' id='groupid' value='" + jsobj.groupid + "'></form></span><br>";
			}
			else if(jsobj.alreadyrequested == '1'){
			    html += "<span width='80%' align='center'><form name='frmjoingroup' id='frmjoingroup' method='POST' action=''><table border=0><tr><td align='center' nowrap><font color='#AA0000' style='font-style:italic' size=-1>You have already sent a join request to this group.&nbsp;&nbsp;</font><input type='button' name='btngentlereminder' id='btngentlereminder' value='Send gentle reminder' onClick='javascript:sendgentlereminder(\"" + jsobj.groupid +  "\", \"" + ctr + "\");'><span id='showprogress_" + ctr + "' style=''>&nbsp;</span>&nbsp;&nbsp;<input type='button' name='btnclosejoin' id='btnclosejoin' value='Close' onClick='javascript:closegroupdivscreen(" + ctr + ");'></td></tr></table>{% csrf_token %}<input type='hidden' name='groupid' id='groupid' value='" + jsobj.groupid + "'></form></span><br>";
			}
			else if(jsobj.alreadyrefused == '1'){
			    html += "<span width='80%' align='center'><form name='frmjoingroup' id='frmjoingroup' method='POST' action=''><table border=0><tr><td align='center' nowrap><font color='#AA0000' style='font-style:italic' size=-1>You have been refused entry to this group earlier. However, you may send another join request to this group.&nbsp;&nbsp;</font><input type='button' name='btnjoinrequest' id='btnjoinrequest' value='Send join request' onClick='javascript:sendjoinrequest(\"" + jsobj.groupid +  "\", \"" + ctr + "\");'><span id='showprogress_" + ctr + "' style=''>&nbsp;</span>&nbsp;&nbsp;<input type='button' name='btnclosejoin' id='btnclosejoin' value='Close' onClick='javascript:closegroupdivscreen(" + ctr + ");'></td></tr></table>{% csrf_token %}<input type='hidden' name='groupid' id='groupid' value='" + jsobj.groupid + "'></form></span><br>";
			}
			else if(jsobj.alreadyallowed == '1'){
			    html += "<span width='80%' align='center'><form name='frmjoingroup' id='frmjoingroup' method='POST' action=''><table border=0><tr><td align='center' nowrap><font color='#AA0000' style='font-style:italic' size=-1>You are already a member of this group. Do you want to exit from this group?&nbsp;&nbsp;</font><input type='button' name='btnexitrequest' id='btnexitrequest' value='Exit Group' onClick='javascript:grpexitrequest(\"" + jsobj.groupid +  "\", \"" + ctr + "\");'><span id='showprogress_" + ctr + "' style=''>&nbsp;</span>&nbsp;&nbsp;<input type='button' name='btnclosejoin' id='btnclosejoin' value='Close' onClick='javascript:closegroupdivscreen(" + ctr + ");'></td></tr></table>{% csrf_token %}<input type='hidden' name='groupid' id='groupid' value='" + jsobj.groupid + "'></form></span><br>";
			}
			else if(jsobj.alreadyignored == '1'){
			    html += "<span width='80%' align='center'><form name='frmjoingroup' id='frmjoingroup' method='POST' action=''><table border=0><tr><td align='center' nowrap><font color='#AA0000' style='font-style:italic' size=-1>You request to join this group has been ignored in the past. However, you may send another join request to this group.&nbsp;&nbsp;</font><input type='button' name='btnjoinrequest' id='btnjoinrequest' value='Send join request' onClick='javascript:sendjoinrequest(\"" + jsobj.groupid +  "\", \"" + ctr + "\");'><span id='showprogress_" + ctr + "' style=''>&nbsp;</span>&nbsp;&nbsp;<input type='button' name='btnclosejoin' id='btnclosejoin' value='Close' onClick='javascript:closegroupdivscreen(" + ctr + ");'></td></tr></table>{% csrf_token %}<input type='hidden' name='groupid' id='groupid' value='" + jsobj.groupid + "'></form></span><br>";
			}
		    }
		    else{
			html += "<span width='60%' align='center'><font color='#AA0000' style='font-weight:bold' size=-1>This group is not accepting join requests at the present moment. </font><br><input type='button' name='btnclosejoin' id='btnclosejoin' onClick='javascript:closegroupdivscreen(" + ctr + ");'></span><br>";
		    }
		    showgroupdivarea.style.display = "";
		    showgroupdivarea.innerHTML = html;
	        }
	    };
	    xmlhttp.open('POST', '{{ getgroupinfouri }}', true);
	    xmlhttp.send(postdatauriencoded);
	}


	function managegroup(membername, groupname, currency){
	    var xmlhttp;
	    postdata = "membername=" + membername + "&groupname=" + groupname + "&csrfmiddlewaretoken=" +  document.searchform.csrfmiddlewaretoken.value + "&currency=" + currency;
	    //alert(postdata);
	    encodedpostdata = encodeURI(postdata);
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    screendiv = document.getElementById('transscreens');
		    groupdatahtml = xmlhttp.responseText;
		    //alert(groupdatahtml);
		    screendiv.innerHTML = groupdatahtml;
		    screendiv.style.display = "";
	        }
	    };
	    xmlhttp.open('POST', '{{ getgroupdataurl }}', true);
	    xmlhttp.send(encodedpostdata);
	}

	function showconnectionsprofile(connid){
	}


	function showpaymentoption(){
	    ispaid = document.getElementById('ispaid');
	    if(ispaid.checked == true){
	    	paymentdiv = document.getElementById('paymentdiv');
	    	// Create the HTML for innerHTML
	    	html = "<table border='0' cellspacing='2' cellpadding='8'>";
	    	html += "<tr><td nowrap><font color='#0000AA' size=-1>Select Bank: </font></td><td nowrap><select name='bankname' id='bankname'>";
	    	{% for bankcode, bankname in availablebanks.iteritems %}
			html += "<option value='{{ bankcode }}'>{{ bankname }}</option>";
	    	{% endfor %}
	    	html += "</select></td></tr>";
	    	html += "<tr><td nowrap><font color='#0000AA' size=-1>Enter Branch: </font></td><td><input type='text' name='branchname' value='' id='branchname' max_length='250' size='10'></td></tr>";
	    	html += "<tr><td nowrap><font color='#0000AA' size=-1>IFSC Code: </font></td><td><input type='text' name='ifsccode' value='' id='ifsccode' max_length='50' size='10'></td></tr>";
	    	html += "<tr><td nowrap><font color='#0000AA' size=-1>Name in Account: </font></td><td><input type='text' name='acctownername' value='' id='acctownername' max_length='255' size='20'></td></tr>";
	    	html += "<tr><td nowrap><font color='#0000AA' size=-1>Account Number: </font></td><td><input type='text' name='acctnumber' value='' id='acctnumber' max_length='255' size='20'></td></tr>";
		html += "<tr><td nowrap><font color='#0000AA' size=-1>Currency: </font></td><td><select name='currency'>";
		{% for currency in allcurrencies %}
		    {% if currency == defaultcurrency %}
		        html += "<option value='{{currency}}' selected>{{currency}}</option>";
		    {% else %}
			html += "<option value='{{currency}}'>{{currency}}</option>";
		    {% endif %}
		{% endfor %}
		html += "</select></td></tr>";
		html += "<tr><td nowrap><font color='#0000AA' size=-1>Entry Fee: </font></td><td><input type='text' name='entryfee' value='' id='entryfee' max_length='255' size='20'></td></tr>";
	    	html += "</table>";
		document.frmcreategroup.require_owner_perms.checked = false;
		document.frmcreategroup.require_owner_perms.disabled = true;
	    	paymentdiv.style.display = "";
	    	paymentdiv.innerHTML = html;
	    }
	    else{
		document.frmcreategroup.require_owner_perms.disabled = false;
		paymentdiv = document.getElementById('paymentdiv');
		paymentdiv.style.display = "none";
	    	paymentdiv.innerHTML = "";
	    }
	}


	function creategroup(){
	    groupname = document.frmcreategroup.groupname.value.trim();
	    groupdescription = document.frmcreategroup.groupdescription.value.trim();
	    tagline = document.frmcreategroup.tagline.value.trim();
	    grouptopic = document.frmcreategroup.grouptopic.value;
	    ispaid = document.getElementById('ispaid');
	    isactive = document.getElementById('isactive');
	    allowentry = document.getElementById('allowentry');
	    require_owner_perms = document.frmcreategroup.require_owner_perms;
	    grouptype = document.frmcreategroup.grouptype.value;
	    maxmemberscount = document.frmcreategroup.maxmemberscount.value;
	    csrftoken = document.frmcreategroup.csrfmiddlewaretoken.value;

	    bankname = "";
	    branchname = "";
	    ifsccode = "";
	    acctownername = "";
	    acctnumber = "";
 	    entryfee = "";
	    currency = "INR";
	    if(ispaid.checked == true){
		bankname = document.frmcreategroup.bankname.value;
		branchname = document.frmcreategroup.branchname.value.trim();
		ifsccode = document.frmcreategroup.ifsccode.value.trim();
		acctownername = document.frmcreategroup.acctownername.value.trim();
		acctnumber = document.frmcreategroup.acctnumber.value.trim();
		entryfee = document.frmcreategroup.entryfee.value.trim();
		currency = document.frmcreategroup.currency.options[document.frmcreategroup.currency.options.selectedIndex].value;
	    }
	    ////// Validate the input here
	    alphanumericpattern = new RegExp("^([\\w\\d]+)$");
	    if(groupname == ""){
		alert("Group name may not be empty or contain only spaces.");
		document.frmcreategroup.groupname.value = "";
		document.frmcreategroup.groupname.focus();
		return (false);
	    }
	    if(!alphanumericpattern.test(groupname)){
		alert("Group names may contain alphanumeric characters only.");
		document.frmcreategroup.groupname.focus();
		return(false);
	    }
	    numericpattern = new RegExp("^\\d+$");
	    alphabetspattern = new RegExp("^[\\w\\s]+$");
 	    floatnumpattern = new RegExp("^\\d+\.?\\d*$")
	    if(maxmemberscount == ""){
		maxmemberscount = "10000";
	    }
	    if(!numericpattern.test(maxmemberscount)){
		alert("Max Members Count should have a numeric value.");
		document.frmcreategroup.maxmemberscount.value = "";
		document.frmcreategroup.maxmemberscount.focus();
		return(false);
	    }
	    if(ispaid.checked == true){
		if(branchname == "" || !alphabetspattern.test(branchname)){
		    alert("Branch name cannot be empty and should contain alphabets and whitespace characters only.");
		    document.frmcreategroup.branchname.value = "";
		    document.frmcreategroup.branchname.focus();
		    return(false);
		}
		if(ifsccode == "" || !alphanumericpattern.test(ifsccode)){
		    alert("IFSC Code cannot be empty and should contain alphanumeric characters only.");
		    document.frmcreategroup.ifsccode.value = "";
		    document.frmcreategroup.ifsccode.focus();
		    return(false);
		}
		if(acctownername == "" || !alphabetspattern.test(acctownername)){
		    alert("Account Owner's name cannot be empty and should contain alphabets only.");
		    document.frmcreategroup.acctownername.value = "";
		    document.frmcreategroup.acctownername.focus();
		    return(false);
		}
		if(acctnumber == "" || !alphanumericpattern.test(acctnumber)){
		    alert("Account number cannot be empty and should contain alphanumeric characters only.");
		    document.frmcreategroup.acctnumber.value = "";
		    document.frmcreategroup.acctnumber.focus();
		    return(false);
		}
		if(entryfee == "" || !floatnumpattern.test(entryfee)){
		    alert("Entry Fee cannot be empty and should contain decimal number only.");
		    document.frmcreategroup.entryfee.value = "";
		    document.frmcreategroup.entryfee.focus();
		    return(false);
		}
	    }
	    ////// Input validation ends here. If we have come thus far, the input is good enough!
	    postdata = "groupname=" + groupname + "&groupdescription=" + groupdescription + "&grouptopic=" + grouptopic + "&maxmemberscount=" + maxmemberscount + "&tagline=" + tagline + "&grouptype=" + grouptype;
	    if(ispaid.checked == true){
		postdata += "&ispaid=1&bankname=" + bankname + "&branchname=" + branchname + "&ifsccode=" + ifsccode + "&acctownername=" + acctownername + "&acctnumber=" + acctnumber + "&entryfee=" + entryfee + "&currency=" + currency;
	    }
	    else{
		postdata += "&ispaid=0";
	    }
	    if(isactive.checked == true){
		postdata += "&isactive=1";
	    }
	    if(allowentry.checked == true){
		postdata += "&allowentry=1";
	    }
	    if(require_owner_perms.checked == true){
	    	postdata += "&require_owner_perms=1";
	    }
	    postdata += "&csrfmiddlewaretoken=" + csrftoken;
	    postdata = encodeURI(postdata);
	    //alert(postdata);
	    senddataasync(postdata, "POST", '{{ creategroupurl }}');
	    screendiv = document.getElementById('transscreens');
	    screendiv.style.display = "none";
	    screendiv.innerHTML = "<font color='#0000AA' style='font-weight:bold' size=-1>Group created successfully</font>";
	}


	function closecreategroupscreen(){
	    tscreen = document.getElementById('transscreens');
	    tscreen.style.display = "none";
	    tscreen.innerHTML = "";
	    return (false);
	}


	function checknameavailability(){
	    grpname = document.frmcreategroup.groupname.value.trim();
	    availspan = document.getElementById('checkavailability');
	    if(grpname == ""){
		availspan.style.display = "";
		availspan.innerHTML = "<font color='#AA0000' size=-2>Invalid group name</font>";
	        return(0);
	    }
	    postdata = encodeURI("groupname=" + grpname + "&csrfmiddlewaretoken=" + document.frmcreategroup.csrfmiddlewaretoken.value);
	    availspan.style.display = "";
	    availspan.innerHTML = "<img src='static/images/loading_small.gif'>";
	    var xmlhttp;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    // Display the response in the parent screen if everything went well.
		    availspan.innerHTML = xmlhttp.responseText;
	        }
	    };
	    xmlhttp.open('POST', '{{ checkgrpnameavailabilityurl }}', true);
	    xmlhttp.send(postdata);
	}


	function displaycreategroupscreen(){
	    screendiv = document.getElementById('transscreens');
	    screendiv.style.display = "";
	    html = "<form name='frmcreategroup' id='frmcreategroup' method='POST' action=''>";
	    html += "{% csrf_token %}";
	    html += "<table border=0 cellspacing=2 cellpadding=3>";
	    html += "<tr><td nowrap><font color='#0000AA' style='font-weight:bold;' size=-1>Group Name: &nbsp;</font></td><td width='70%'><input type='text' name='groupname' value='' max_length=200 size=30 onblur='javascript:checknameavailability();'><span id='checkavailability' style='' nowrap></span></td></tr>";
	    html += "<tr><td nowrap><font color='#0000AA' style='font-weight:bold;' size=-1>Tagline: &nbsp;</font></td><td><input type='text' name='tagline' id='tagline' value='' max_size='200' size='30'></td></tr>";
	    html += "<tr><td nowrap><font color='#0000AA' style='font-weight:bold;' size=-1>Description: &nbsp;</font></td><td><textarea name='groupdescription' cols='40' rows='10'></textarea></td></tr>";
	    html += "<tr><td nowrap><font color='#0000AA' style='font-weight:bold;' size=-1>Group Topic: &nbsp;</font></td><td width='70%'><select name='grouptopic'>";
	    {% for topic in alltopics %}
		html += "<option value='{{ topic }}'>{{ topic }}</option>";
	    {% endfor %}
	    html += "</select></td></tr>";
	    html += "<tr><td nowrap><font color='#0000AA' style='font-weight:bold;' size=-1>Group Permissions</font></td><td nowrap>&nbsp;<font color='#0000AA' size=-1>Is Paid:&nbsp;</font><input type='checkbox' name='ispaid' id='ispaid' value='1' onChange='javascript:showpaymentoption();'><br><div id='paymentdiv' style=''></div><font color='#0000AA' size=-1>Group Type:&nbsp;</font><select name='grouptype'>";
	    {% for grptype, grptypename in grouptypes.iteritems %}
	        html += "<option value='{{ grptype }}'>{{ grptypename }}</option>";
	    {% endfor %}
	    html += "</select><br>";
	    html += "<font color='#0000AA' size=-1>Active:&nbsp;</font><input type='checkbox' name='isactive' id='isactive' value='1' checked><br>";
	    html += "<font color='#0000AA' size=-1>Allow Entry:&nbsp;</font><input type='checkbox' name='allowentry' id='allowentry' value='1' checked><br>";
   	    html += "<font color='#0000AA' size=-1>Do you (owner of the group) want to review join requests (for unpaid groups) before allowing the user to be a member:&nbsp;</font><input type='checkbox' name='require_owner_perms' id='require_owner_perms' value='1'><br>";
	    html += "<font color='#0000AA' size=-1>Max Members Allowed:&nbsp;</font><input type='text' name='maxmemberscount' id='maxmemberscount' value='10000' size=5><br>";
	    html += "<tr><td colspan=2 align='center'><input type='button' name='btnsave' id='btnsave' value='Create Group' onClick='javascript:creategroup();'>&nbsp;&nbsp;<input type='button' name='btnclose' id='btnclose' value='Close Screen' onClick='javascript:closecreategroupscreen();'></td></tr>";
	    html += "</table>";
	    html += "</form>";
	    screendiv.display = "";
	    screendiv.innerHTML = html;
	}


	function searchforgroup(){
	    grpkeyword = document.getElementById('grpkeyword').value.trim();
	    postdata = "grpkeyword=" + grpkeyword + "&csrfmiddlewaretoken=" + document.joinagroup.csrfmiddlewaretoken.value;
	    topic = document.getElementById('topic');
	    for(var i=0; i < topic.options.length; i++){
		if(topic.options[i].selected){
		    topicname = topic.options[i].value;
		    topicname = topicname.replace("_", " ");
		    postdata = postdata + "&topic=" + topicname;
		}
	    }
	    uriencodeddata = encodeURI(postdata);
   	    var xmlhttp;
	    if (window.XMLHttpRequest){
	        xmlhttp=new XMLHttpRequest();
	    }
	    else{
	        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	    }
	    xmlhttp.onreadystatechange = function(){
                //document.write(xmlhttp.responseText);
	        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
		    searchresultarea = document.getElementById('searchresultdiv');
		    searchresultarea.style.display = "";
		    jsonresult = JSON.parse(xmlhttp.responseText);
		    if(jsonresult.length == 0){
			searchresultarea.innerHTML = "<center><font color='#AA0000' style='font-weight:italic,bold'>The search did not yield any match</font></center>";
			return(0);
		    }
		    html = "<table border=0 cellspacing=2 cellpadding=5 width='95%' class='tbl-fixed-width'>";
		    for(var j=0; j < jsonresult.length; j++){
			if(j % 2 == 0){
			    html += "<tr bgcolor='#66CCFF'><td><a href='#/' onClick='javascript:showgrouppage(\"" + jsonresult[j]['membername'] + "\", \"" + jsonresult[j]['groupname'] + "\", \"" + document.joinagroup.csrfmiddlewaretoken.value + "\", \"" + j.toString() + "\");'><font color='#0000BB'>" + jsonresult[j]['groupname'] + " - " + jsonresult[j]['tagline'] + "<br>" + jsonresult[j]['description'] + "</a><br><div id='showgroupdiv_" + j.toString() + "' style=''></div></td></tr>";
			}
			else{
			    html += "<tr bgcolor='#99CCFF'><td><a href='#/' onClick='javascript:showgrouppage(\"" + jsonresult[j]['membername'] + "\", \"" + jsonresult[j]['groupname'] + "\", \"" + document.joinagroup.csrfmiddlewaretoken.value + "\", \"" + j.toString() + "\");'><font color='#0000BB'>" + jsonresult[j]['groupname'] + " - " + jsonresult[j]['tagline'] + "<br>" + jsonresult[j]['description'] + "</font></a><br><div id='showgroupdiv_" + j.toString() + "' style=''></div></td></tr>";
			}
		    }
		    html += "</table>";
		    searchresultarea.innerHTML = html;
	        }
	    };
	    xmlhttp.open('POST', '{{ searchgroupurl }}', true);
	    xmlhttp.send(uriencodeddata);
	}


	function displayjoinagroupscreen(){
	    screendiv = document.getElementById('transscreens');
	    screendiv.style.display = "";
	    html = "<center><h3><font color='#0000AA'>Search for a group based on the following parameters:</font></h3>";
	    html += "<form name='joinagroup' id='joinagroup' method='POST' action=''>";
	    html += "{% csrf_token %}";
	    html += "<table border='0' cellspacing='3' cellpadding='3'>";
	    html += "<tr><td nowrap align='right'><font color='#0000AA' style='font-weight:bold' size=-1>Select Topic(s):</font></td><td align='center'><select name='topic' id='topic' multiple size=4>";
	    {% for topicunderscored, topicname in topics.iteritems %}
		html += "<option value='{{ topicunderscored }}'>{{ topicname }}</option>";
	    {% endfor %}
	    html += "</select></td></tr>";
	    html += "<tr><td nowrap align='right'><font color='#0000AA' style='font-weight:bold' size=-1>Enter Keyword:</font></td><td align='center'><input type='text' name='grpkeyword' id='grpkeyword' value=''></td></tr>";
	    html += "<tr><td nowrap align='center' colspan='2'><input type='button' name='btnsearchgroups' id='btnsearchgroups' value='Search' onClick='searchforgroup();'>&nbsp;&nbsp;<input type='button' name='btncancelsearch' id='btncancelsearch' value='Close' onClick='closecreategroupscreen();'></td></tr>";
	    html += "</table>";
	    html += "</form><br><br><div id='searchresultdiv' style=''></div></center>";
            screendiv.innerHTML = html;
	}

	function displayaddcontactscreen(){
	}

	// Save data pertaining to group settings.
	// TODO: Add input validation
	function savesettings(){
	    settingselements = document.frmsettings.elements;
	    postdata = "";
	    for(var i=0; i < settingselements.length; i++){
		if(settingselements[i].name == "adminremarks" || settingselements[i].name == "bankname" || settingselements[i].name == "bankbranch" || settingselements[i].name == "acctname"){
		    postdata += settingselements[i].name + "=" + encodeURI(settingselements[i].value) + "&";
		}
		else{
		    if(settingselements[i].name == "allowentry" || settingselements[i].name == "ispaid"){
			if(settingselements[i].checked == true){
		    	    postdata += settingselements[i].name + "=" + settingselements[i].value + "&";
			}
		    }
		    else{
			postdata += settingselements[i].name + "=" + settingselements[i].value + "&";
		    }
		}
	    }
	    //alert(postdata);
	    targetUrl = '{{savegrpdataurl}}';
	    senddataasync(postdata, 'POST', targetUrl);
	}


	function closescreen(){
	    screendiv = document.getElementById('transscreens');
	    screendiv.innerHTML = "";
	    screendiv.style.display = "none";
	}

	function changefinancialcontrolstate(ctrl){
	    if(ctrl.checked == false){
		document.frmsettings.entryfee.disabled = true;
		document.frmsettings.bankname.disabled = true;
		document.frmsettings.bankbranch.disabled = true;
		document.frmsettings.acctname.disabled = true;
		document.frmsettings.acctnum.disabled = true;
		document.frmsettings.ifsccode.disabled = true;
	    }
            else{
		document.frmsettings.entryfee.disabled = false;
		document.frmsettings.bankname.disabled = false;
		document.frmsettings.bankbranch.disabled = false;
		document.frmsettings.acctname.disabled = false;
		document.frmsettings.acctnum.disabled = false;
		document.frmsettings.ifsccode.disabled = false;
	    }
	}

        
	function changepaidstatus(){
	    if(document.frmsettings.require_owner_perms.checked == false){
	        document.frmsettings.ispaid.disabled=false;
		document.frmsettings.ispaid.checked=true;
	    }
	    else{
		document.frmsettings.ispaid.disabled=true;
		document.frmsettings.ispaid.checked=false;
	    }
	}

	function expandcollapsesettings(grpimgfile, memberscount, maxmemberslimit, basedontopic, grouptype, allowentry, ispaid, entryfee, adminremarks, grpname, bankname, bankbranch, acctname, acctnum, ifsccode, currency){
	    openclosediv = document.getElementById('openclose');
	    paramspaneldiv = document.getElementById('paramspanel');
	    openpattern = new RegExp("Open");
	    openclosecontent = openclosediv.innerHTML;
	    csrftoken = document.searchform.csrfmiddlewaretoken.value;
 	    if(openpattern.test(openclosecontent)){ // So the next div should be opened now
		openclosediv.innerHTML = '<font size=-1 color=\'#0000AA\' style=\'font-weight: bold\'>Settings</font><a href=\'#/\' onClick=\'javascript:expandcollapsesettings(\&quot;' + grpimgfile + '\&quot;, \&quot;' + memberscount + '\&quot;, \&quot;' + maxmemberslimit + '\&quot;, \&quot;' + basedontopic + '\&quot;, \&quot;' + grouptype + '\&quot;, \&quot;' + allowentry + '\&quot;, \&quot;' + ispaid + '\&quot;, \&quot;' + entryfee + '\&quot;, \&quot;' + adminremarks + '\&quot;, \&quot;' + grpname + '\&quot;, \&quot;' + bankname + '\&quot;, \&quot;' + bankbranch + '\&quot;, \&quot;' + acctname + '\&quot;, \&quot;' + acctnum + '\&quot;, \&quot;' + ifsccode + '\&quot;, \&quot;' + currency + '\&quot;);\'><font size=-1 color=\'#0000AA\' style=\'font-weight: bold\'> Close</font></a></font>';
		if(!grpimgfile){
		    grpimguploadurl = "{{grpimguploadurl}}" + grpname
		    html = "<form name='frmsettings' id='frmsettings' method='POST' action=''>{% csrf_token %}<center><table border='0' width='60%'><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Group Image:</td><td nowrap><img src='static/images/nopic.png' height='{{image_height}}' width='{{image_width}}' alt='Group Image' id='groupimage'></font><br><div id='uploadbox' style='display:none;'></div><a href='#/' onClick='javascript:uploader(\&quot;" + grpimguploadurl + "\&quot;, \&quot;" + csrftoken + "\&quot;);'><font size=-1 color='#0000AA'><i>Upload Image</i></font></a></td><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Group Topic</font>:</td><td nowrap><select name='topics' id='topics'>";
		}
		else{
		    grpimguploadurl = "{{grpimguploadurl}}" + grpname
		    html = "<form name='frmsettings' id='frmsettings' method='POST' action=''>{% csrf_token %}<center><table border='0' width='60%'><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Group Image:</td><td nowrap><img src='media/{{displayname}}/groups/" + grpname + "/" + grpimgfile + "' height='{{image_height}}' width='{{image_width}}'></font><br><div id='uploadbox' style='display:none;'></div><a href='#/' onClick='javascript:uploader(\&quot;" + grpimguploadurl + "\&quot;, \&quot;" + csrftoken + "\&quot;);'><font size=-1 color='#0000AA'><i>Change/Upload Image</i></font></a></td><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Group Topic</font>:</td><td nowrap><select name='topics' id='topics'>";
		}
		{% for topic in alltopics %}
		    topickey = "{{topic}}".replace(" ", "_");
		    if("{{topic}}" == basedontopic){
			html += "<option value='" + topickey + "' selected>{{topic}}</option>";
		    }
		    else{
			html += "<option value='" + topickey + "'>{{topic}}</option>";
		    }
		{% endfor %}
                html += "</select></td></tr><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Members Count</font>:</td><td nowrap> <font size=-1 color='#0000AA' style='font-weight: bold'>" + memberscount + "</font></td><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Max Members Limit</font>:</td><td nowrap> <input type='text' name='maxmemberslimit' id='maxmemberslimit' value='" + maxmemberslimit + "'></td></tr><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Group Type</font>:</td><td nowrap> <select name='grouptypes'>";
		{% for grpkey, grpval in grouptypes.iteritems %}
		    if("{{grpkey}}" == grouptype){
			html += "<option value='{{grpkey}}' selected>{{grpval}}</option>";
		    }
		    else{
			html += "<option value='{{grpkey}}'>{{grpval}}</option>";
		    }
		{% endfor %}
		html += "</select></td><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Allow Entry</font>:</td>";
		if(allowentry == 'True'){
		    html += "<td nowrap><input type='checkbox' name='allowentry' id='allowentry' value='1' checked>";
		}
		else{
		    html += "<td nowrap><input type='checkbox' name='allowentry' id='allowentry' value='1'>";
		}
		html += "</td></tr><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Paid</font>: </td>";
		if(ispaid == 'True'){
		    html += "<td nowrap><input type='checkbox' name='ispaid' id='ispaid' value='1' checked onChange='javascript:changefinancialcontrolstate(this);'>";
		}
		else{
		    html += "<td nowrap><input type='checkbox' name='ispaid' id='ispaid' value='1'  onChange='javascript:changefinancialcontrolstate(this);'>";
		}
		html += "</td></tr><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Review user before admitting into the group:&nbsp;</font></td>";
		{% if require_owner_perms %}
		html += "<td nowrap><input type='checkbox' name='require_owner_perms' value='1' checked onchange='javascript:changepaidstatus();'>";
		{% else %}
		html += "<td nowrap><input type='checkbox' name='require_owner_perms' value='1' onchange='javascript:changepaidstatus();'>";
		{% endif %}
		if(ispaid == 'True'){
		    html += "</td></tr><tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Entry Fee</font>: </td><td nowrap><input type='text' name='entryfee' id='entryfee' value='" + entryfee + "'></td></tr>";
		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Currency</font>: </td><td nowrap><select name='currency'>";
		    {% for curr in allcurrencies %}
			if(currency == '{{curr}}'){
			    html += "<option value='{{curr}}' selected>{{curr}}</option>";
			}
			else{
			    html += "<option value='{{curr}}'>{{curr}}</option>";
			}
		    {%  endfor %}
		    html += "</select></td></tr>";
		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Bank</font>: </td><td nowrap><input type='text' name='bankname' id='bankname' value='" + bankname + "'></td><td nowrap align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Branch: </font></td><td nowrap><input type='text' name='bankbranch' id='bankbranch' value='" + bankbranch + "'></td></tr>";
		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Name in Account</font>: </td><td nowrap><input type='text' name='acctname' id='acctname' value='" + acctname + "'></td><td nowrap align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Account Number: </font></td><td nowrap><input type='text' name='acctnum' id='acctnum' value='" + acctnum + "'></td></tr>";
    		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>IFSC Code</font>: </td><td nowrap><input type='text' name='ifsccode' id='ifsccode' value='" + ifsccode + "'></td><td nowrap><font size=-1 color='#0000AA' style='font-weight: bold'>&nbsp;&nbsp; </font></td><td nowrap>&nbsp;&nbsp;</td></tr>";
		}
		else{
		    html += "</td><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Entry Fee</font>: </td><td nowrap><input type='text' name='entryfee' id='entryfee' value='" + entryfee + "' disabled=true></td></tr>";
		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Currency</font>: </td><td nowrap><select name='currency'>";
		    {% for curr in allcurrencies %}
			if(currency == '{{curr}}'){
			    html += "<option value='{{curr}}' selected>{{curr}}</option>";
			}
			else{
			    html += "<option value='{{curr}}'>{{curr}}</option>";
			}
		    {%  endfor %}
		    html += "</select></td></tr>";
		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Bank</font>: </td><td nowrap><input type='text' name='bankname' id='bankname' value='" + bankname + "' disabled=true></td><td nowrap align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Branch: </font></td><td nowrap><input type='text' name='bankbranch' id='bankbranch' value='" + bankbranch + "' disabled=true></td></tr>";
		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Name in Account</font>: </td><td nowrap><input type='text' name='acctname' id='acctname' value='" + acctname + "' disabled=true></td><td nowrap align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Account Number: </font></td><td nowrap><input type='text' name='acctnum' id='acctnum' value='" + acctnum + "' disabled=true></td></tr>";
    		    html += "<tr><td nowrap width='50%' align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>IFSC Code</font>: </td><td nowrap><input type='text' name='ifsccode' id='ifsccode' value='" + ifsccode + "' disabled=true></td><td nowrap><font size=-1 color='#0000AA' style='font-weight: bold'>&nbsp;&nbsp; </font></td><td nowrap>&nbsp;&nbsp;</td></tr>";
		}
		html += "</select></td><td nowrap align='right'><font size=-1 color='#0000AA' style='font-weight: bold'>Admin Remarks</font>:</td><td nowrap> <textarea name='adminremarks' id='adminremarks' >" + adminremarks + "</textarea></td></tr>";
		html += "<tr><td nowrap width='100%' colspan=4 align='center'><input type='button' name='btnsave' id='btnsave' value='Save Changes' onClick='javascript:savesettings();'><input type='reset' name='btnreset' id='btnreset' value='Reset'><input type='button' name='btnclose' id='btnclose' value='Close Screen' onClick='javascript:closescreen();'></td></tr></table></center><input type='hidden' name='groupname' id='groupname' value='" + grpname + "'></form>";
		paramspaneldiv.style.display = "";
	 	paramspaneldiv.innerHTML = html;
	    }
	    else{
		openclosediv.innerHTML = '<font size=-1 color=\'#0000AA\' style=\'font-weight: bold\'>Settings <a href=\'#/\' onClick=\'javascript:expandcollapsesettings(\&quot;' + grpimgfile + '\&quot;, \&quot;' + memberscount + '\&quot;, \&quot;' + maxmemberslimit + '\&quot;, \&quot;' + basedontopic + '\&quot;, \&quot;' + grouptype + '\&quot;, \&quot;' + allowentry + '\&quot;, \&quot;'+ ispaid + '\&quot;, \&quot;' + entryfee + '\&quot;, \&quot;' + adminremarks + '\&quot;, \&quot;' + grpname + '\&quot;, \&quot;' + bankname + '\&quot;, \&quot;' + bankbranch + '\&quot;, \&quot;' + acctname + '\&quot;, \&quot;' + acctnum + '\&quot;, \&quot;' + ifsccode + '\&quot;);\'><font size=-1 color=\'#0000AA\' style=\'font-weight: bold\'>Open</font></a><br /><br />';
		paramspaneldiv.innerHTML = "";
		paramspaneldiv.style.display = "none";
	    }
	}
	
	</script>
	
		{% include "inc/mission_statement.html" %}
		<!-- ### Post Entry Begin ###  -->

		<div class="post">
			<span class="meta">
			<h3>Dear {{ displayname }},</h3>
			{{ msg }}
			<div class="entry">
			<h3><font color='#00AA00'>Create a group <a href='#/' onClick='javascript:displaycreategroupscreen();'>here</a>...</font></h3>
			<h3><font color='#00AA00'>... or join one <a href='#/' onClick='javascript:displayjoinagroupscreen();'>here</a></font></h3>
			<h3><font color='#00AA00'>Or may be, you would like to <a href='#/' onClick='javascript:displayaddcontactscreen();'>add</a> a contact?</font></h3><br />
			</div>
			<div style='display:none;' id="transscreens" class="semitrans"></div>
			</span>
		</div>


		<!-- ### Post Entry End ### -->

		{% include "network/right_panel.html" %}
		
		{% include "inc/html_foot.html" %}
