	
	<div class="postpagesnav">
		
		</div>
		
		</div>
		
		<!-- ### Sidebar Begin ### -->

		
		<div id="sidebar">
			<a href="{{ logout_url }}"><b>Logout</b></a>	
		<ul>

		<li><h2>Search</h2>
		<form id="searchform" name="searchform" method="post" action="#">
			<div>
			<input type="text" value="" name="s" id="searchfield" />
			<input type="button" id="searchsubmit" value="Search" />
			{% csrf_token %}
			</div>

		</form>
		</li>

		<li><h2>Groups Owned or Subscribed by You</h2>
		{% if groups|length == 0 %}
		  <font color='#0000AA' size=-1>You do not own any group yet.</font>
		{% endif %}
		<ul>
		{% for grp in groups %}
			<li>{{ grp }}</li>
		{% endfor %}
		</ul>

		</li>

	  	<li class="linkcat"><h2>Connections You Made</h2>
		{% if connections|length == 0 %}
		  <font color='#0000AA' size=-1>You have not made any connections yet.</font>
		{% endif %}
		<ul>
		{% for conn in connections %}
			<li>{{ conn }}</li>
		{% endfor %}
		</ul>
		</li>


		</ul>	

		</div>

		<!-- ### Sidebar End ### -->

	</div>
