{% load extratemptags %}
<div>
<a href="#/" onClick="javascript:closescreen();" style="color:#0000AA;">Close Screen</a>
</div>
<table border=0 cellspacing='2' cellpadding='3'>

<tr bgcolor='#00ccff'>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Challenge Statement</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Challenge Type</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;'>Score</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Available Options <br />(For multiple choice type)</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Correct Response</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Negative Score <br />(If any)</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Media File</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Additional URL</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Timeframe<br />(In seconds)</font></td>
    <td nowrap><font color='#0000AA' style='font-weight:bold;' nowrap>Challenge Quality</font></td>
</tr>

{% for challengeid in challengesdict %}
<tr bgcolor='#99ffcc'>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:0}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:1}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:2}}</font></td>
    <td nowrap><font color='#0000AA' nowrap>
    <ul>
    {% for option in challengesdict|dictlookup:challengeid|getval:10 %}
    {% if option != "" %}
    <li>{{option}}</li>
    {% endif %}
    {% endfor %}
    </ul>
    </td>
    <!-- <td nowrap><font color='#0000AA' nowrap>{{challengesdict|dictlookup:challengeid|getval:10}}</font></td> -->
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:4}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:3}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:5}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:6}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:7}}</font></td>
    <td nowrap><font color='#0000AA'>{{challengesdict|dictlookup:challengeid|getval:8}}</font></td>
</tr>
{% endfor %}
</table>



