{% load extratemptags %}
<style>
hr.search {
  border: 1px solid #0000AA;
}
</style>
<link rel="stylesheet" href="https://unpkg.com/mathlive/dist/mathlive-static.css" />

<div class='row'>
<span class='column' style='font-weight:bold;color:#0000AA;padding-left:20px;padding-right:25px;font-size:x-large;display:flex;justify-content:flex-end;align-items:flex-end;'><u>{{testname}}</u></span>
<span class='column' style='font-weight:bold;color:#0000AA;'>&nbsp;&nbsp;<input type='button' name='close_ch_top' id='close_ut_top' onClick='javascript:closescreen();' value='Close'  class="btn btn-primary" style='width:150px;margin-bottom:5px;padding-left:5px;display:inline-block;'></span>
</div>
<div style='padding-left:5px;padding-top:5px;color:#0000AA;'>
<table border=0 cellspacing='2' cellpadding='3' style='width:90%;'>

<tr>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Challenge Statement</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Challenge Type</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Score</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top' nowrap>Available Options <br />(For multiple choice type)</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Correct Response</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Negative Score <br />(If any)</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Media File</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Additional URL</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Timeframe<br />(In seconds)</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Challenge Quality</td>
</tr>
<tbody>
<tr><td colspan='10' style='width:100%;'><hr class='search'></td></tr>
{% for challengeid in challengesdict %}
<tr>
    {% if challengesdict|dictlookup:challengeid|getval:11 == 1 %}
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;' id='mathcontent_{{forloop.counter}}' onmousemove='javascript:handlemathexpressions({{forloop.counter}});'>{{challengesdict|dictlookup:challengeid|getval:0}}</td>
    {% else %}
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:0}}</td>
    {% endif %}
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:1}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:2}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;' nowrap>
    <ul>
    {% for option in challengesdict|dictlookup:challengeid|getval:10 %}
    {% if option != "" %}
    <li>{{option}}</li>
    {% endif %}
    {% endfor %}
    </ul>
    </td>
    <!-- <td nowrap><font color='#0000AA' nowrap>{{challengesdict|dictlookup:challengeid|getval:10}}</font></td> -->
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:4}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:3}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:5}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:6}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:7}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:8}}</td>
</tr>
{% endfor %}
<tr><td colspan='10' style='width:100%;'><hr class='search'></td></tr>
</tbody>
</table>
</div>
<div class='row'><span class='column'>&nbsp;</span>
&nbsp;&nbsp;<input type='button' name='close_ch_top' id='close_ut_top' onClick='javascript:closescreen();' value='Close'  class='btn btn-primary' style='width:150px;margin-bottom:5px;padding-left:5px;display:inline-block;'></div>
|#|{{numchallenges}}

