{% load extratemptags %}
<style>
hr.search {
  border: 1px solid #0000AA;
}
</style>

<div>
<a href="#/" onClick="javascript:closescreen();" style="color:#0000AA;">Close Screen</a>
</div>
<div style='padding-left:5px;padding-top:5px;color:#0000AA;'>
<table border=0 cellspacing='2' cellpadding='3' style='width:90%;'>

<tr>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Challenge Statement</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Challenge Type</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Score</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Available Options <br />(For multiple choice type)</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Correct Response</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Negative Score <br />(If any)</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Media File</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Additional URL</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Timeframe<br />(In seconds)</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;font-weight:bold;overflow-wrap: break-word;' valign='top'>Challenge Quality</td>
</tr>
<tbody>
<tr><td colspan='10' style='width:100%;'><hr class='search'></td></tr>
{% for challengeid in challengesdict %}
<tr>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:0}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:1}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:2}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>
    <ul>
    {% for option in challengesdict|dictlookup:challengeid|getval:10 %}
    {% if option != "" %}
    <li>{{option}}</li>
    {% endif %}
    {% endfor %}
    </ul>
    </td>
    <!-- <td nowrap><font color='#0000AA' nowrap>{{challengesdict|dictlookup:challengeid|getval:10}}</font></td> -->
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:4}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:3}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:5}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:6}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:7}}</td>
    <td style='padding-left:10px;padding-top:10px;color:#0000AA;'>{{challengesdict|dictlookup:challengeid|getval:8}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
|#|{{numchallenges}}

