{% include "inc/html_head.html" %}

	<!-- <script src='static/webaudiovisual/jquery.min.js' type='text/javascript'></script>  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <script src='static/webaudiovisual/jquery-ui.min.js' type='text/javascript'></script>  -->
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<script src='static/datetimepicker/datetimepicker_css.js' type='text/javascript'></script>

	<!-- New interface code starts here -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<!-- New interface code ends here -->

	
	{% include "inc/mission_statement.html" %}
		<style>
		.glowing-border {
		    border: 2px solid #000088;
		    border-radius: 4px;
		}

		.glowing-border:focus { 
		    outline: none;
		    border-color: #9ecaed;
		    box-shadow: 0 0 10px #9ecaed;
		}
		</style>
		<!-- ### Post Entry Begin ###  -->
		<script type='text/javascript'>
		function conductsearchtest(){
		    testname = document.frmadvsearch.testname.value;
		    searchphrase = document.frmadvsearch.searchphrase.value;
		    testcreator = document.frmadvsearch.testcreator.value;
		    csrftoken = document.frmadvsearch.csrfmiddlewaretoken.value;
		    postdata = "testname=" + testname + "&searchphrase=" + searchphrase + "&testcreator=" + testcreator + "&csrfmiddlewaretoken=" + csrftoken;
		    var xmlhttp;
		    if (window.XMLHttpRequest){
		    	xmlhttp=new XMLHttpRequest();
		    }
		    else{
		    	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    xmlhttp.onreadystatechange = function(){
  		        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
    		            divres = document.getElementById('searchresults');
			    divres.style.display = "";
                            divres.style = "padding-left:10px;padding-right:10px;";
			    responsedata = xmlhttp.responseText;
			    divres.innerHTML = responsedata;
  		        }
  		    };
		    //alert(postdata);
  		    xmlhttp.open("POST", '{{ testschallengesearchurl }}', true); // Not an ajax call since we want to ensure that the  action has been successfully completed before taking any further steps.
  		    xmlhttp.send(postdata);
		}

		function conductsearchuser(){
		    usrname = document.frmadvsearch.username.value;
		    searchphrase = document.frmadvsearch.usr_searchphrase.value;
		    csrftoken = document.frmadvsearch.csrfmiddlewaretoken.value;
		    postdata = "user=" + usrname + "&searchphrase=" + searchphrase + "&csrfmiddlewaretoken=" + csrftoken;
		    var xmlhttp;
		    if (window.XMLHttpRequest){
		    	xmlhttp=new XMLHttpRequest();
		    }
		    else{
		    	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    xmlhttp.onreadystatechange = function(){
  		        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
    		            divres = document.getElementById('searchresults');
			    divres.innerHTML = "";
			    divres.style.display = "";
                            divres.style = "padding-left:10px;padding-right:10px;";
			    responsedata = xmlhttp.responseText;
			    divres.innerHTML = responsedata;
  		        }
  		    };
		    //alert(postdata);
		    xmlhttp.open("POST", '{{ usersearchurl }}', true);
		    xmlhttp.send(postdata);
		}

		function conductsearchgroup(){
		    groupname = document.frmadvsearch.grpname.value;
		    csrftoken = document.frmadvsearch.csrfmiddlewaretoken.value;
		    postdata = "groupname=" + groupname + "&csrfmiddlewaretoken=" + csrftoken;
		    var xmlhttp;
		    if (window.XMLHttpRequest){
		    	xmlhttp=new XMLHttpRequest();
		    }
		    else{
		    	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    xmlhttp.onreadystatechange = function(){
  		        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
    		            divres = document.getElementById('searchresults');
			    divres.innerHTML = "";
			    divres.style.display = "";
                            divres.style = "padding-left:10px;padding-right:10px;";
			    responsedata = xmlhttp.responseText;
			    divres.innerHTML = responsedata;
  		        }
  		    };
		    //alert(postdata);
		    xmlhttp.open("POST", '{{ groupsearchurl }}', true);
		    xmlhttp.send(postdata);
		}


		function copytest(testid){
		    // Displays the interface which allows the logged in user to request an invitation from the creator of the test.
		    var xmlhttp;
		    if (window.XMLHttpRequest){
			xmlhttp=new XMLHttpRequest();
		    }
		    else{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    postdata = "testid=" + testid + "&csrfmiddlewaretoken=" + document.frmadvsearch.csrfmiddlewaretoken.value + "&initiate=1";
		    //alert(postdata);
		    xmlhttp.onreadystatechange = function(){
		      if(xmlhttp.readyState == 4 && xmlhttp.status==200){
			  alert(xmlhttp.responseText);
			  return (true);
		      }
		    };
		    xmlhttp.open("POST", '{{ copytesturl }}', true);
		    xmlhttp.send(postdata);
		}


		function displaygroupsdata(grpid){
		    var xmlhttp;
		    if (window.XMLHttpRequest){
			xmlhttp=new XMLHttpRequest();
		    }
		    else{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    postdata = "groupid=" + grpid + "&csrfmiddlewaretoken=" + document.frmadvsearch.csrfmiddlewaretoken.value;
		    //alert('{{ groupdataurl }}');
		    xmlhttp.onreadystatechange = function(){
		      if(xmlhttp.readyState == 4 && xmlhttp.status==200){
                          divscr = document.getElementById('transscreens2');
			  divscr.style = "display:;padding-left:10px;padding-right:10px;";
			  divscr.style.height = "80%;";
			  divscr.style.width = "40%;";
			  htmlcontent = "<div class='container'>";
			  jsoncontent = JSON.parse(xmlhttp.responseText);
			  //alert(xmlhttp.responseText);
                          htmlcontent += "<div class='row'><div class='column' style='padding-left:10px;padding-right:10px;font-weight:bold;color:#0000AA;'>Group Name: </div><div class='column' style='padding-left:10px;padding-right:10px;color:#0000AA;'>" + jsoncontent['groupname'] + "</div></div>";
			  htmlcontent += "<div class='row'><hr></div>";
			  for(const fieldname in jsoncontent){
			    if(jsoncontent.hasOwnProperty(fieldname)){
				if(fieldname == 'groupname'){
				  continue;
				}
				if(fieldname == 'description'){
				    htmlcontent += "<div class='row'><div class='column' style='padding-left:10px;padding-right:10px;font-weight:bold;color:#0000AA;'>" + fieldname + ": </div><div class='column' style='padding-left:10px;padding-right:10px;color:#0000AA;word-wrap:break-word;'>" + jsoncontent[fieldname] + "</div></div>";
				}
				else{
				    htmlcontent += "<div class='row'><div class='column' style='padding-left:10px;padding-right:10px;font-weight:bold;color:#0000AA;'>" + fieldname + ": </div><div class='column' style='padding-left:10px;padding-right:10px;color:#0000AA;'>" + jsoncontent[fieldname] + "</div></div>";
				}
				htmlcontent += "<div class='row'><hr></div>";
			    }
			  }
			  htmlcontent += "<br/><div class='row'><div class='column' style='padding-left:10px;padding-right:10px;font-weight:bold;color:#0000AA;'><input type='button' name='closegroupdata' id='closegroupdata' value='Close' class='btn btn-testyard1' style='width:80px;' onclick='javascript:closescreen();'></div><div class='column' style='padding-left:10px;padding-right:10px;font-weight:bold;color:#0000AA;'>&nbsp;</div></div>";
			  htmlcontent += "</div>"; //container div ends here.
			  divscr.innerHTML = htmlcontent;
			  return (true);
		      }
		    };
		    xmlhttp.open("POST", '{{ groupdataurl }}', true);
		    xmlhttp.send(postdata);
		}


		function displaytestsdata(displayname){
		    var xmlhttp;
		    if (window.XMLHttpRequest){
			xmlhttp=new XMLHttpRequest();
		    }
		    else{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    postdata = "displayname=" + displayname + "&csrfmiddlewaretoken=" + document.frmadvsearch.csrfmiddlewaretoken.value;
		    //alert(postdata);
		    xmlhttp.onreadystatechange = function(){
		      if(xmlhttp.readyState == 4 && xmlhttp.status==200){
			  divscr = document.getElementById('transscreens2');
			  divscr.style.display = "";
			  //alert(xmlhttp.responseText);
			  htmlcontent = xmlhttp.responseText;
			  const parser = new DOMParser();
			  const htmldoc = parser.parseFromString(htmlcontent, 'text/html');
			  numrecordstr = htmldoc.getElementById('totalrecordscount').value;
			  numrecords = parseInt(numrecordstr);
			  docheight = '150%';
			  if (numrecords < 20){
			    docheight = '150%';
			  }
			  else if(numrecords < 50){
			    docheight = '320%';
			  }
			  else if(numrecords < 100){
			    docheight = '685%';
			  }
			  else if (numrecords < 250){
			    docheight = '1200%';
			  }
			  else if(numrecords < 350){
			    docheight = '1550%';
			  }
			  else{
			    docheight = '1800%';
			  }
			  divscr.style.height = docheight;
			  divscr.innerHTML = htmlcontent;
		      }
		    };
		    xmlhttp.open("POST", '{{ searchtestinfourl }}', true);
		    xmlhttp.send(postdata);
		}

		function closescreen(){
		    divscr = document.getElementById('transscreens2');
		    divscr.style.display = "none";
		    divscr.innerHTML = "";
		}

		function showchallenges(testid, copyable){
		    if(!copyable || copyable == 'False'){
			alert("You may not view the challenges contained in this test. This is because the test is either NOT in public scope of its creator or it may have already been scheduled for some candidate in the future.");
			return (false);
		    }
		    var xmlhttp;
		    if (window.XMLHttpRequest){
			xmlhttp=new XMLHttpRequest();
		    }
		    else{
			xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
		    }
		    postdata = "testid=" + testid + "&csrfmiddlewaretoken=" + document.frmadvsearch.csrfmiddlewaretoken.value;
		    //alert(postdata);
		    xmlhttp.onreadystatechange = function(){
		      if(xmlhttp.readyState == 4 && xmlhttp.status==200){
			  divscr = document.getElementById('transscreens2');
			  divscr.style.display = "";
			  m = xmlhttp.responseText.split("|#|");
			  num = parseInt(m[1]);
			  h = num*150+300+100; // 300 pixels extra for header and an empty row after it, 100 more for some border padding.
			  divscr.style.height = h.toString() + "px";
			  //alert(xmlhttp.responseText);
			  divscr.innerHTML = m[0];
		      }
		    };
		    xmlhttp.open("POST", '{{ displaytestchallenges }}', true);
		    xmlhttp.send(postdata);
		}

		</script>
		<style>
		.box {
		    width:300px;
		    height:300px;
		    background-color:#d9d9d9;
		    background-repeat: no-repeat;
        	    background-position: center center; 
		    position:fixed;
		    margin-left:-150px; /* half of width */
		    left:50%;
		}
		</style>
		<style>
		.semitrans2 {
		  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
		  filter: alpha(opacity=90);
		  opacity: 0.9;
		  -moz-opacity: .90; 
		  -khtml-opacity: 0.9;
		  background-color:#669999;
		  color:#FFFFFF;
		  position:absolute; top:250px; left:0px; width:125%; height:250%; text-align:left; vertical-align:middle;padding-left:25px;padding-top:35px;padding-right:50px;
		}
		</style>
	 	{% include "inc/right_panel.html" %}
		<div class="post">
			
			<span class="meta">
			<h3 class="blue" style='font-size:14px;font-weight:bold;'>Hello {{ displayname }}</h3>
			{{ msg }} {{ newuser }}
			<div style='display:none;' id="transscreens2" class="semitrans2"></div>
			<div class="entry form-group">
			<form name='frmadvsearch' id='frmadvsearch' method='POST' action='/search/advsearch/'>
			
			<table border=0 cellspacing=3 cellpadding=3 width='90%'>
			<tr><td align='center' colspan=3 nowrap><font color='#0000AA' style='font-weight:bold'>Search tests, challenges, users and groups</font></td></tr>
			<tr><td colspan=3><hr></td></tr>
			<tr><td align='center' colspan=3><font color='#0000AA' style='font-weight:bold'>Search Tests</font></td></tr>
			<tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Enter Test Name:</label></td><td><input type='text' name='testname' value='' id='testname'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr>
			<tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Search Phrase:</label></td><td><input type='text' name='searchphrase' value='' id='searchphrase'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr>
			<tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Test Creator:</label></td><td><input type='text' name='testcreator' value='' id='testcreator'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr>
			<tr><td align='center'>&nbsp;</td><td align='center' colspan=2><input type='button' name='searchtest' id='searchtest' onClick='javascript:conductsearchtest();' value='Search Tests/Challenges' class="btn btn-primary" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td></tr>

			<tr><td colspan=3><hr></td></tr>
			<tr><td align='center' colspan=3><font color='#0000AA' style='font-weight:bold'>Search Users</font></td></tr>
			<tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Enter Username:</label></td><td><input type='text' name='username' value='' id='username'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr>
			<tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Search Phrase:</label></td><td><input type='text' name='usr_searchphrase' value='' id='usr_searchphrase'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr>
			<tr><td align='center'>&nbsp;</td><td align='center' colspan=2><input type='button' name='searchuser' id='searchuser' onClick='javascript:conductsearchuser();' value='Search Users'  class="btn btn-primary" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td></tr>

			<tr><td colspan=3><hr></td></tr>
			<tr><td align='center' colspan=3><font color='#0000AA' style='font-weight:bold'>Search Groups</font></td></tr>
			<tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Enter Group Name:</label></td><td><input type='text' name='grpname' value='' id='grpname'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr>
			<!-- <tr><td align='right' nowrap><label style='width:300px;padding-left:5px;display:inline-block;color:#0000AA;'>Search Phrase:</label></td><td><input type='text' name='usr_searchphrase' value='' id='usr_searchphrase'  class="form-control input-lg" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td><td>&nbsp;</td></tr> -->
			<tr><td align='center'>&nbsp;</td><td align='center' colspan=2><input type='button' name='searchgroup' id='searchgroup' onClick='javascript:conductsearchgroup();' value='Search Groups' class="btn btn-primary" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;justify:right;align:right;'></td></tr>
			</table>

			{% csrf_token %}
			</form>
			</div>
			</span>
			<div id='searchresults'></div>
			
		</div>
		
		<!-- ### Post Entry End ###  -->

	
		
	{% include "inc/html_foot.html" %}

