<table border=0 style='width:2500px;'>
<tr bgcolor='#00ccff'>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Test Name</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Test Topic</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Creator</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Test Type</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Creation Date</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Max. Score</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Pass Score</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Rules</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.9em;font-weight:bold;' valign='top'>Test Duration</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Allowed Languages</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Challenges Count</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Published On</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Multimedia Req.</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Programming Env.</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Test Scope</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Test Quality</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Negative Scoring</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.9em;font-weight:bold;' valign='top'>Copy Test</td>
</tr>

{% for testname, otherattribs in resultrecs.items %}
<tr bgcolor='#99ffcc'>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'><a href='#' onClick='javascript:showchallenges("{{otherattribs.id}}", "{{otherattribs.copyable}}");'>{{testname}}</a></td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.topic}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.creator}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.testtype}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.createdate}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.maxscore}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.passscore}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.ruleset}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.duration}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.allowedlanguages}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.challengecount}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.publishdate}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.multimediareqd}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.progenv}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.scope}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.quality}}</td>
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>{{otherattribs.negativescoreallowed}}</td>
    {% if otherattribs.scope == "public" and otherattribs.copyable == "True" %}
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'><a href='#/' onClick='javascript:copytest("{{otherattribs.id}}");' alttext='Copying a test allows you to create a new test that is identical to the test being copied.'>Copy Test</a></td>
    {% else %}
    <td style='padding-left:5px;color:#0000AA;overflow-wrap: break-word;font-size:0.8em;'>&nbsp;*</td>
    {% endif %}
</tr>
{% endfor %}
</table>
<div style="color:#AA0000;font-style:italic;font-size:-1">* Tests that have 'private' or 'protected' scope or are scheduled in future cannot be copied</div>
<br/>
<div style="color:#0000AA;font-style:bold;text-align:center;">

<nav aria-label="Page navigation example">
  <ul class="pagination">
{% if prevpage > 0 %}
<li class="page-item"><a href='#/' onclick="javascript:conductsearchtest({{prevpage}});" class="page-link" style='font-size:medium;'>< Prev</a></li>
{% endif %}
<li class="page-item"><a href='#/' onclick="javascript:conductsearchtest({{nextpage}});" class="page-link" style='font-size:medium;'>Next ></a></li>
  </ul>
</nav>

</div><br/><br/>



