<table border=0 cellspacing='2' cellpadding='3' style='width:1200px;'>
<tr bgcolor='#00ccff'>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>Profile Photo</td>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>Display Name</td>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>Name</td>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>Sex</td>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>Active</td>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>Member Since</td>
    <td  style='padding-left:5px;color:#0000AA;font-weight:bold;font-size:0.9em;' valign='top'>User Type</td>
</tr>

{% for displayname, otherattribs in resultrecs.items %}
<tr bgcolor='#99ffcc'>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'><img src='{{otherattribs.userpic}}' width='35' height='35'></td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'><a href='#/' onClick='javascript:displaytestsdata("{{displayname}}");'>{{displayname}}</a></td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.firstname}} {{otherattribs.middlename}} {{otherattribs.lastname}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.sex}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.active}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.membersince}}</td>
    <td style='padding-left:5px;color:#0000AA;font-size:0.8em;'>{{otherattribs.usertype}}</td>
</tr>
{% endfor %}
<tr><td colspan='7'>&nbsp;</td></tr>
<tr><td colspan='7' style='text-align:center;'>

<nav aria-label="Page navigation example">
  <ul class="pagination">
{% if prevpage > 0 %}
<li class="page-item"><a href='#/' onclick="javascript:conductsearchuser({{prevpage}});" class="page-link" style='font-size:medium;'>Prev</a></li>
{% endif %}
<li class="page-item"><a href='#/' onclick="javascript:conductsearchuser({{nextpage}});" class="page-link" style='font-size:medium;'>Next</a></li>
  </ul>
</nav>

</td></tr>
</table>

