{% load extratemptags %}
<style>
hr.search {
  border: 1px solid #0000AA;
}
</style>
&nbsp;&nbsp;<input type='button' name='close_ut_top' id='close_ut_top' onClick='javascript:closescreen();' value='Close'  class="btn btn-primary" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;'>
<br/><br/>
{% if testscreated|length > 0 %}
<p style="font-weight:bold;color:#0000AA">Tests Conducted</p>
<table border='1' cellspacing='3' cellpadding='3'>
<tr>
<td style="font-weight:bold;color:#0000AA">Test Name</td><td style="font-weight:bold;color:#0000AA">Test Topic</td><td style="font-weight:bold;color:#0000AA">Test Type</td><td style="font-weight:bold;color:#0000AA">Standard</td><td style="font-weight:bold;color:#0000AA">Test Rules</td><td style="font-weight:bold;color:#0000AA">Total Score</td><td style="font-weight:bold;color:#0000AA">Pass Score</td><td style="font-weight:bold;color:#0000AA">Negative Marking</td>
</tr>
{% for testid in testscreated %}
<tr>
<td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:0}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:1}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:2}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:3}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:7}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:5}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:6}}</td><td style='color:#0000AA;' nowrap>{{testscreated|dictlookup:testid|getval:4}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p style="font-weight:bold;color:#0000AA">Tests Conducted: None</p>
{% endif %}
<br />
{% if testsevaluated|length > 0 %}
<p style="font-weight:bold;color:#0000AA">Tests Evaluated</p>
<table border='1' cellspacing='3' cellpadding='3'>
<tr>
<td style="font-weight:bold;color:#0000AA">Test Name</td><td style="font-weight:bold;color:#0000AA">Test Topic</td><td style="font-weight:bold;color:#0000AA">Test Type</td><td style="font-weight:bold;color:#0000AA">Standard</td><td style="font-weight:bold;color:#0000AA">Test Rules</td><td style="font-weight:bold;color:#0000AA">Total Score</td><td style="font-weight:bold;color:#0000AA">Pass Score</td><td style="font-weight:bold;color:#0000AA">Negative Marking</td>
</tr>
{% for testid in testsevaluated %}
<tr>
<td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:0}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:1}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:2}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:3}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:7}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:5}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:6}}</td><td style='color:#0000AA;' nowrap>{{testsevaluated|dictlookup:testid|getval:4}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p style="font-weight:bold;color:#0000AA">Tests Evaluated: None</p>
{% endif %}
<br />
{% if teststaken|length > 0 %}
<p style="font-weight:bold;color:#0000AA">Tests Taken</p>
<table border='1' cellspacing='3' cellpadding='3'>
<tr>
<td style="font-weight:bold;color:#0000AA">Test Name</td><td style="font-weight:bold;color:#0000AA">Test Topic</td><td style="font-weight:bold;color:#0000AA">Test Type</td><td style="font-weight:bold;color:#0000AA">Standard</td><td style="font-weight:bold;color:#0000AA">Test Rules</td><td style="font-weight:bold;color:#0000AA">Total Score</td><td style="font-weight:bold;color:#0000AA">Pass Score</td><td style="font-weight:bold;color:#0000AA">Obtained Score</td><td style="font-weight:bold;color:#0000AA">Negative Marking</td>
</tr>
{% for testid in teststaken %}
<tr>
<td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:0}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:1}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:2}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:3}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:7}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:5}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:6}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:8}}</td><td style='color:#0000AA;' nowrap>{{teststaken|dictlookup:testid|getval:4}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p style="font-weight:bold;color:#0000AA">Tests Taken: None</p>
{% endif %}
<br />
{% if interviewsconducted|length > 0 %}
<p style="font-weight:bold;color:#0000AA">Interviews Conducted</p>
<table border='1' cellspacing='3' cellpadding='3'>
<tr>
<td style="font-weight:bold;color:#0000AA">Interview Title</td><td style="font-weight:bold;color:#0000AA">Interview Topic</td><td style="font-weight:bold;color:#0000AA">Standard</td><td style="font-weight:bold;color:#0000AA">Total Score</td><td style="font-weight:bold;color:#0000AA">Duration</td><td style="font-weight:bold;color:#0000AA">Candidate Email</td>
</tr>
{% for intid in interviewsconducted %}
<tr>
<td style='color:#0000AA;' nowrap>{{interviewsconducted|dictlookup:intid|getval:0}}</td><td style='color:#0000AA;' nowrap>{{interviewsconducted|dictlookup:intid|getval:1}}</td><td style='color:#0000AA;' nowrap>{{interviewsconducted|dictlookup:intid|getval:4}}</td><td style='color:#0000AA;' nowrap>{{interviewsconducted|dictlookup:intid|getval:2}}</td><td style='color:#0000AA;' nowrap>{{interviewsconducted|dictlookup:intid|getval:3}}</td><td style='color:#0000AA;' nowrap>{{interviewsconducted|dictlookup:intid|getval:5}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p style="font-weight:bold;color:#0000AA">Interviews Conducted: None</p>
{% endif %}
<br />

{% if interviewsattended|length > 0 %}
<p style="font-weight:bold;color:#0000AA">Interviews Attended</p>
<table border='1' cellspacing='3' cellpadding='3'>
<tr>
<td style="font-weight:bold;color:#0000AA">Interview Title</td><td style="font-weight:bold;color:#0000AA">Interview Topic</td><td style="font-weight:bold;color:#0000AA">Interviewer</td>
</tr>
{% for intid in interviewsattended %}
<tr>
<td style='color:#0000AA;' nowrap>{{interviewsattended|dictlookup:intid|getval:0}}</td><td style='color:#0000AA;' nowrap>{{interviewsattended|dictlookup:intid|getval:2}}</td><td style='color:#0000AA;' nowrap>{{interviewsattended|dictlookup:intid|getval:1}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p style="font-weight:bold;color:#0000AA">Interviews Attended: None</p>
{% endif %}
<br />
<input type='hidden' name='totalrecordscount' id='totalrecordscount' value='{{totalrecordscount}}'>

<br />
&nbsp;&nbsp;<input type='button' name='close_ut_bottom' id='close_ut_bottom' onClick='javascript:closescreen();' value='Close'  class="btn btn-primary" style='width:300px;margin-bottom:5px;padding-left:5px;display:inline-block;'>
