<!DOCTYPE html>
<html>
  <head>
    <title>Google Calendar</title>
    <meta charset="utf-8" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="static/css/newiface.css" />
	<!-- New interface code starts here -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div id="container" style="padding-left:40px;padding-top:40px;background:#0000FF;">

	<div id="header">	
		<h1><a href="/skillstest/test/" style="color:#FFFFFF;font-weight:bold;font-face:'cursive, Parkavenue';">TEST<span>YARD</span></a></h1>
	<!--	<p style="color:#0000FF;font-size:14;font-face:'cursive, Parkavenue';font-style:oblique;">Committed to identifying the best professionals for your business...</p> -->
		<p style="color:#FFFFFF;font-size:14;font-face:'cursive, Parkavenue';font-style:oblique;">Experience testing... Give one, or take one.</p> 


	</div>
	</div>
	<br/>
	<div class="container">
    	<p style="text-align:center;color:#0000FF;font-weight:bold;"><u>Add '{{testname}}' Schedule to Google Calendar</u></p>
	<br/><br/>
    <!--Add buttons to initiate auth sequence and sign out-->
    <p style="text-align:center;color:#0000FF;">
    <button id="authorize_button" onclick="handleAuthClick();" class="btn btn-primary" style="width:150px;padding-right:10px;">Authorize</button> &nbsp;&nbsp;<button id="signout_button" onclick="handleSignoutClick();" class="btn btn-testyard1" style="width:150px;padding-left:10px;visibility:visible;display:;">Sign Out</button></p>

    <!-- <pre id="content" style="white-space: pre-wrap;"></pre> -->
	
	</div>
    <script type="text/javascript">
      /* exported gapiLoaded */
      /* exported gisLoaded */
      /* exported handleAuthClick */
      /* exported handleSignoutClick */

      // TODO(developer): Set to client ID and API key from the Developer Console
      const CLIENT_ID = "{{clientid}}";
      const API_KEY = "{{apikey}}";

      // Discovery doc URL for APIs used by the quickstart
      const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest';

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      const SCOPES = 'https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.events';

      let tokenClient;
      let gapiInited = false;
      let gisInited = false;

      //document.getElementById('authorize_button').style.visibility = 'hidden';
      //document.getElementById('signout_button').style.visibility = 'hidden';

      /**
       * Callback after api.js is loaded.
       */
      function gapiLoaded() {
        gapi.load('client', initializeGapiClient);
      }

      /**
       * Callback after the API client is loaded. Loads the
       * discovery doc to initialize the API.
       */
      async function initializeGapiClient() {
        await gapi.client.init({
          apiKey: API_KEY,
          discoveryDocs: [DISCOVERY_DOC],
        });
        gapiInited = true;
        maybeEnableButtons();
      }

      /**
       * Callback after Google Identity Services are loaded.
       */
      function gisLoaded() {
        tokenClient = google.accounts.oauth2.initTokenClient({
          client_id: CLIENT_ID,
          scope: SCOPES,
          callback: '', // defined later
        });
        gisInited = true;
        maybeEnableButtons();
      }

      /**
       * Enables user interaction after all libraries are loaded.
       */
      function maybeEnableButtons() {
        if (gapiInited && gisInited) {
          document.getElementById('authorize_button').style.visibility = 'visible';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick() {
        tokenClient.callback = async (resp) => {
          if (resp.error !== undefined) {
            throw (resp);
          }
          document.getElementById('signout_button').style.visibility = 'visible';
          document.getElementById('authorize_button').innerText = 'Refresh';
          //await listUpcomingEvents();
          await addtocalendar("{{testurl}}");
        };

        if (gapi.client.getToken() === null) {
          // Prompt the user to select a Google Account and ask for consent to share their data
          // when establishing a new session.
          tokenClient.requestAccessToken({prompt: 'consent'});
        } else {
          // Skip display of account chooser and consent dialog for an existing session.
          tokenClient.requestAccessToken({prompt: ''});
        }
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick() {
        const token = gapi.client.getToken();
        if (token !== null) {
          google.accounts.oauth2.revoke(token.access_token);
          gapi.client.setToken('');
          document.getElementById('content').innerText = '';
          document.getElementById('authorize_button').innerText = 'Authorize';
          document.getElementById('signout_button').style.visibility = 'hidden';
        }
      }

      
      async function addtocalendar(turl){
         const event = {
	  'summary': '{{testurl}}',
	  'description': '{{testname}}',
	  'start': {
	    'dateTime': '{{start}}',
	    'timeZone': 'Asia/Kolkata'
	  },
	  'end': {
	    'dateTime': '{{end}}',
	    'timeZone': 'Asia/Kolkata'
	  }
	  
	};
	const request = gapi.client.calendar.events.insert({
	  'calendarId': 'primary',
	  'resource': event
	});
	request.execute(function(event) {
	  appendPre('Event created: ' + event.htmlLink);
	});
      }
    </script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <form name='frmdummy' id='frmdummy' method='POST' action='{{calendarurl}}'>
    {% csrf_token %}
    </form>
  </body>
</html>
