 <!-- Dashboard static files start -->
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/plans_assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/static/plans_assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
  <!-- Dashboard static files end -->


<div class="row">
	<div>
	<!-- Form for extending a userplan -->
	</div>
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight:bold;">Plan Extension History</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="border-top-0">PLAN</th>
                                    <th class="border-top-0">VALID FROM</th>
                                    <th class="border-top-0">VALID TILL</th>
                                    <th class="border-top-0">PRICE</th>
                                    <th class="border-top-0">STATUS</th>
                                </tr>
                            </thead>
                            {% if message != "" %}
                            <tbody>{{message}}</tbody>
                            {% else %}
                            <tbody>
                                {% for userplan in planextensions %}
                                <tr>
                                    <td class="txt-oflo">{{userplan.planname}}</td>
                                    <td><span class="font-medium">{{userplan.planstartdate}}</span> </td>
                                    <td class="txt-oflo">{{userplan.planenddate}}</td>
                                    <td><span class="font-medium">${{userplan.amountpaid}}</span></td>
                                    {% if userplan.planstatus == 1 %}
                                    <td><span class="label label-success label-rounded">Active</span></td>
                                    {% else %}
                                    <td><span class="label label-danger label-rounded">Expired</span></td>
                                    {% endif %}
                                    {% if userplan.planname != "Free Plan" %}
                                    <td><span class="font-medium">&nbsp;**&nbsp;<input type='button' name='btnextend' value='Extend Plan' onclick="javascript:extendplan({{userplan.userplanid}});"></span></td>
                                    {% else %}
                                    <td><span class="font-medium">&nbsp;*&nbp;</span></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="semitrans" style="display:none;" id="planextscreen"></div>
                <span>* Free Plan cannot be extended.</span><br/><span>** Extending a Subscription Plan would allow you to send more invitations for the Tests and Interviews created during the plan period.</span><br/>
            </div>
        </div>      
