<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<title>TestYard - Taking Care of Your Skills Testing Needs...</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script language='JavaScript' type="text/javascript" src='/static/javascript/pageutils.js'></script>

<!-- New interface code starts here -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<!-- New interface code ends here -->

<!-- Page related css -->
<link href="/static/css/index/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/index/style.css" rel="stylesheet">
  <link href="/static/css/index/themify-icons.css" rel="stylesheet">
  <link href='/static/css/index/dosis-font.css' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <!-- Plans and Pricing static files start -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/plansnpricing/style.css"> -->
  <script src="/static/javascript/plansnpricing/jquery.min.js"></script>
  <!-- Plans and Pricing static files end -->
  
  <!-- Dashboard static files start -->
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/plans_assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/static/plans_assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
  <!-- Dashboard static files end -->
  
  <style>
	.semitrans {
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	  filter: alpha(opacity=90);
	  opacity: 0.9;
	  -moz-opacity: .90; 
	  -khtml-opacity: 0.9;
	  background-color:#ccffff;
	  color:#FFFFFF;
	  position:absolute; top:250px; left:0px; width:275%; height:150%; text-align:left; vertical-align:middle;padding-left:25px;padding-top:35px;padding-right:50px;
	}

        .semitrans2 {
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	  filter: alpha(opacity=90);
	  opacity: 0.9;
	  -moz-opacity: .90; 
	  -khtml-opacity: 0.9;
	  background-color:#ccffff;
	  color:#FFFFFF;
	  position:absolute; top:150px; left:100px; width:75%; height:50%; text-align:left; vertical-align:middle;padding-left:25px;padding-top:35px;padding-right:50px;
	}
  </style>
  
  <script language="javascript">
  
    function extendplan(userplanid){
      planextdiv = document.getElementById('planextscreen');
      var xmlhttp;
      if (window.XMLHttpRequest){
	xmlhttp=new XMLHttpRequest();
      }
      else{
	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
          planextdiv.opacity = "100%";
	  //var mouseX;
          //var mouseY;
          //$(document).mousemove( function(e) {
	   // mouseX = e.pageX*3/2; 
	   // mouseY = e.pageY*3/2;
	  //}); 
	  planextdiv.style = "display:float;padding-left:10px;padding-top:5px;padding-bottom:5px;padding-right:5px;height:600px;width:800px;background-color:#17a2b8;position:absolute;top:100px;left:100px;border:5px groove #999999;z-index:1;";
	  errorpattern = new RegExp("^Error");
          if(errorpattern.test(xmlhttp.responseText)){
            alert(xmlhttp.responseText);
	  }
	  else{
	    planextdiv.innerHTML = xmlhttp.responseText;
	  }
	  return false;
       }  
     };
     //Send request to {{plan_extension_url}}
     xmlhttp.open("GET", "{{plan_extension_url}}?userplanid=" + userplanid, true);
     //xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
     //xmlhttp.setRequestHeader('Content-length', postdata.length.toString());
     //xmlhttp.setRequestHeader('Accept', 'application/json');
     xmlhttp.send();
    }
    
    function fetchcoupondiscount(couponcode){
      couponcodeval = document.frmextendsubscription.txtcoupon.value.trim();
      csrf = document.frmextendsubscription.csrfmiddlewaretoken.value;
      postdata = "couponcode=" + couponcodeval + "&csrfmiddlewaretoken=" + csrf;
      var xmlhttp;
      if (window.XMLHttpRequest){
	xmlhttp=new XMLHttpRequest();
      }
      else{
	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
          //alert(xmlhttp.responseText);
          return (xmlhttp.responseText);
        }
      };
      xmlhttp.open("POST", "{{coupon_discount_url}}", true);
      xmlhttp.send(postdata);
    }
    
    function computecost(){
      planrate = {{planextrate}};
      spantag = document.getElementById('estcost');
      estfield = document.getElementById('amtpayable');
      errorpattern = new RegExp(/Error/g);
      invitescount = document.frmextendsubscription.selinvitescount.options[document.frmextendsubscription.selinvitescount.options.selectedIndex].value;
      amtpayablecontent = parseFloat(invitescount) * planrate;
      // Check if coupon is specified. If yes, add the discount for the coupon.
      discountpercent = 0.00;
      if(document.frmextendsubscription.yescoupon.checked == true){
          couponcodeval = document.frmextendsubscription.txtcoupon.value.trim();
          if(couponcodeval != ""){
            coupondiscount = fetchcoupondiscount(couponcodeval);
            if(errorpattern.test(coupondiscount)){
              alert(coupondiscount); //'coupondiscount' is an error message.
              discountpercent = 0;
            }
            else{
              discountpercent = parseFloat(coupondiscount);
              if(Number.isNaN(discountpercent) == false){
                amtpayablecontent = amtpayablecontent - (amtpayablecontent * discountpercent/100);
              }
            }
          }
      }
      estfield.value = amtpayablecontent;
      spantag.style.display = "";
      spantag.innerHTML = "US$ " + amtpayablecontent.toFixed(2);
    }
    
    
    function extensionpayment(){
    
    }
    
    function closeplanext(){
      planextdiv = document.getElementById('planextscreen');
      //planextdiv.innerHTML = "";
      planextdiv.style.display = "none";
    }
    
    function showhidecouponfield(){
      if(document.getElementById('yescoupon').checked == true){
        document.getElementById('txtcoupon').disabled = false;
        document.getElementById('couponwrapper').style.display = "";
      }
      else{
        document.getElementById('txtcoupon').disabled = true;
        document.getElementById('couponwrapper').style.display = "none";
      }
    }
    
    function searchitem(){
      postdata = "";
      errorpattern = new RegExp(/Error/g);
      radiobtns = document.getElementsByName('rdtestint');
      for(var i=0; i < radiobtns.length; i++){
        if(radiobtns[i].checked){
          postdata = "rdtestint=" + radiobtns[i].value;
          break;
        }
      }
      csrf = document.frmsearch.csrfmiddlewaretoken.value;
      postdata = postdata + "&csrfmiddlewaretoken=" + csrf;
      searchkeyval = document.getElementById('searchkey').value;
      postdata = postdata + "&searchkey=" + searchkeyval;
      var xmlhttp;
      if (window.XMLHttpRequest){
	xmlhttp=new XMLHttpRequest();
      }
      else{
	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4 && xmlhttp.status==200){
          // Show the only plan in which the test or interview was created.
          if(errorpattern.test(xmlhttp.responseText)){
            alert(xmlhttp.responseText);
          }
          else{
            upidlist = JSON.parse(xmlhttp.responseText);
            //alert(upidlist);
            alltrtags = document.getElementsByTagName("tr");
            for(var j=0; j < alltrtags.length; j++){
              alltrtags[j].style.display = "none";
            }
            for(var i=0; i < upidlist.length;i++){
              document.getElementById('up_' + upidlist[i].toString()).style.display = "";
            }
          }
        }
      };
      xmlhttp.open("POST", "{{search_test_subscription_url}}", true);
      xmlhttp.send(postdata);
    }
    
  </script>
    
</head>
<body id="page-top" >

<div id="container" style="width:75%;">

	<div id="header">	
		<h1><a href="/skillstest/index/" style="text-shadow: rgba(245,245,245,0.5);background-clip: text;-moz-background-clip: text;-webkit-background-clip: text;">TEST<span>YARD</span></a></h1>
		<p style="color:#FFFFFF;font-size:14;font-family: Futura;text-shadow: rgba(245,245,245,0.5);background-clip: text;-moz-background-clip: text;-webkit-background-clip: text;background-color: #666666;font-style:oblique;">Taking care of your skills testing needs...</p>

		<!-- ### Top Menu ### -->

		<div id="topmenu">
		<ul>
			<li><a href="{{ profile_url }}"{{ select_profile }}>Profile</a></li>	
			<!-- <li><a href="{{ dashboard_url }}"{{ select_dashboard }}>Dashboard</a></li>
			<li><a href="{{ subscription_url }}"{{ select_subscription }}>Subscriptions</a></li> -->
			<li><a href="{{ tests_url }}"{{ select_tests }}>Tests & Interviews</a></li>	
			<li><a href="{{ search_url }}"{{ select_search }}>Search</a></li>
			<li><a href="{{ network_url }}"{{ select_socnet }}>Network</a></li>
			<li><a href="{{ analytics_url }}"{{ select_analytics }}>Analytics</a></li>
			<li><a href="{{ aboutus_url }}"{{ select_aboutus }}>About Us</a></li>
			<li><a href="{{ helpndoc_url }}"{{ select_helpndoc }}>Help</a></li>
			<li><a href="{{ plans_url }}" class="highlight">Plans & Pricing</a></li>	
		</ul>	
		</div>

	</div>

	<div id="contentcontainer" style="width:100%;">
	
		<div id="content" style="width:100%;">
		<!-- ### Post Entry Begin ###  -->
		
		
			<div class="entry">
			
			<!--<p><a href="#">TestYard</a> enables you to conduct tests and interviews for recruitment/promotions/certifications online, so that the probable candidates/employees/professionals can take them at their own convenience. This enables your organization to recruit the best pros' from around the world at a nominal cost.</p>
			<p><a href="#">TestYard</a> also provides various programming/software environments where candidates can actually write code and run them (after compiling/building them, if necessary). This allows you to test your candidates on the real life scenarios for which you are recruiting.</p>
			<blockquote><p class="note">Check our <b>Android</b>&#8482; and <b>iOS</b>&#8482; app (SmartTest&copy;) to create or take a test/interview on the go.</p></blockquote> -->
			{% if logged_in_as == "" %}
			<p style='font-size:small;color:#0000aa;'> {{ curdate }}</p>
			<div class="row">
			<span style="padding-left:10px;padding-right:10px;vertical-align:middle;"><a href='{{login_url}}' class='btn btn-primary' style="height:35px;width:150px;font-size:small;font-family:sans-serif;color:#505050;background:url(/static/images/login.png) no-repeat left #D8D8D8;vertical-align:middle;">Login</a></span>
			<span style="padding-left:10px;padding-right:10px;vertical-align:middle;"><a href='{{register_url}}' class='btn btn-primary' style="height:35px;width:150px;font-size:small;font-family: sans-serif;color:#505050;font-weight:bold;background:url(/static/images/register.png) no-repeat left #D8D8D8;vertical-align:middle;">Register</a></span>
			</div>
			{% else %}
			{{ profile_image_tag }}
			<div class="row">
			<span style="color:#0000aa;font-size:medium;font-style:oblique;padding-left:15px;">Logged in as {{logged_in_as}} [<a href="/skillstest/logout/">Logout</a>]</span>
			<span style='font-size:small;color:#0000aa;padding-left:15px;line-height:1.5;display:inline-block;vertical-align:bottom;padding-top:4px;'> {{ curdate }}</span>
			</div>
			{% endif %}
			</div>
			<div class="post">
			<div id='welcome'>
			  <h2>Welcome to TestYard </h2>
			</div>
			<div class="entry">
				<div>
					<p style='color:#0000AA;font-weight:bold;text-align:center;'>Advertise with us Here<br />Call 9711998537</p>
				</div>
			</div>
		</div>
	</div>
      </div>


	<!-- Dashboard content goes here -->
	<!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Email campaign chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-8">
                        <div>
                            <div class="card-body">
                                <h4 class="card-title" style="font-weight:bold;">Aggregate Figures</h4>
                                <div class="sales ct-charts mt-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <div class="card-body">
                                <h4 class="card-title mb-1">Basic Plan</h4>
                                <h5 class="font-light">Tests: {{basicplan_tests_count}}</h5>
                                <h5 class="font-light">Intrviews: {{basicplan_interviews_count}}</h5>
                                <div class="mt-3 text-center">Spending: 
                                    <div id="earnings">US${{basicplan_aggregated_spending}}</div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <div class="card-body">
                                <h4 class="card-title mb-0">Business Plan</h4>
                                <h5 class="font-light">Tests: {{businessplan_tests_count}}</h5>
                                <h5 class="font-light">Intrviews: {{businessplan_interviews_count}}</h5>
                                <div class="mt-3 text-center">Spending: 
                                    <div id="earnings">US${{businessplan_aggregated_spending}}</div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div>
                            <div class="card-body">
                                <h4 class="card-title mb-0">Unlimited Plan</h4>
                                <h5 class="font-light">Tests: {{unlimitedplan_tests_count}}</h5>
                                <h5 class="font-light">Intrviews: {{unlimitedplan_interviews_count}}</h5>
                                <div class="mt-3 text-center">Spending: 
                                    <div id="earnings">US${{unlimitedplan_aggregated_spending}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Email campaign chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Ravenue - page-view-bounce rate -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="border:2px solid black;">
                                <h4 class="card-title" style="font-weight:bold;">Subscription History</h4>
                                <form name='frmsearch'>
                                {% csrf_token %}
                                <span>Search for Test <input type='radio' name='rdtestint' id='rdtestint' value='test' class='form-check-input' checked style='padding-left:5px;padding-right:5px;' placeholder='test'> or Interview <input type='radio' name='rdtestint' id='rdtestint' value='interview' class='form-check-input' style='padding-left:5px;padding-right:5px;' placeholder='interview'> <input type='text' name='searchkey' id='searchkey' value='' placeholder='Search by Test/Interview Name' class='form-control' style='padding-left:5px;padding-right:5px;'> <input type='button' name='btnsearch' id='btnsearch' value='Search' class='btn btn-testyard1' onclick='javascript:searchitem();'>
                                </form>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">PLAN</th>
                                            <th class="border-top-0">VALID FROM</th>
                                            <th class="border-top-0">VALID TILL</th>
                                            <th class="border-top-0">PRICE</th>
                                            <th class="border-top-0">STATUS</th>
                                        </tr>
                                    </thead>
                                    {% if noplans == 1 %}
                                    <tbody>{{message}}</tbody>
                                    {% else %}
                                    <tbody>
                                        {% for userplan in userplanslist %}
                                        <tr id='up_{{userplan.userplanid}}' style="display:;">
                                            <td class="txt-oflo">{{userplan.planname}}</td>
                                            <td><span class="font-medium">{{userplan.planstartdate}}</span> </td>
                                            <td class="txt-oflo">{{userplan.planenddate}}</td>
                                            <td><span class="font-medium">${{userplan.amountpaid}}</span></td>
                                            {% if userplan.planstatus == 1 %}
                                            <td><span class="label label-success label-rounded">Active</span></td>
                                            {% else %}
                                            <td><span class="label label-danger label-rounded">Expired</span></td>
                                            {% endif %}
                                            {% if userplan.planname != "Free Plan" %}
                                              {% if userplan.planstatus == 1 %}
                                                <td><span class="font-medium">&nbsp;**&nbsp;<input type='button' name='btnextend' value='Extend Plan' onclick="javascript:extendplan({{userplan.userplanid}});" disabled></span></td>
                                              {% else %}
                                                <td><span class="font-medium">&nbsp;**&nbsp;<input type='button' name='btnextend' value='Extend Plan' onclick="javascript:extendplan({{userplan.userplanid}});"></span></td>
                                              {% endif %}
                                            {% else %}
                                            <td><span class="font-medium">&nbsp;*&nbp;</span></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                        <!-- <tr>
                                            <td class="txt-oflo">Real Homes WP Theme</td>
                                            <td><span class="label label-info label-rounded">EXTENDED</span></td>
                                            <td class="txt-oflo">April 19, 2021</td>
                                            <td><span class="font-medium">$1250</span></td>
                                            <td><span class="font-medium">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="txt-oflo">Ample Admin</td>
                                            <td><span class="label label-purple label-rounded">Tax</span></td>
                                            <td class="txt-oflo">April 19, 2021</td>
                                            <td><span class="font-medium">$1250</span></td>
                                            <td><span class="font-medium">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="txt-oflo">Medical Pro WP Theme</td>
                                            <td><span class="label label-success label-rounded">Sale</span></td>
                                            <td class="txt-oflo">April 20, 2021</td>
                                            <td><span class="font-medium">-$24</span></td>
                                            <td><span class="font-medium">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="txt-oflo">Hosting press html</td>
                                            <td><span class="label label-success label-rounded">SALE</span></td>
                                            <td class="txt-oflo">April 21, 2021</td>
                                            <td><span class="font-medium">$24</span></td>
                                            <td><span class="font-medium">Expired</span></td>
                                        </tr>
                                        <tr>
                                            <td class="txt-oflo">Digital Agency PSD</td>
                                            <td><span class="label label-danger label-rounded">Tax</span> </td>
                                            <td class="txt-oflo">April 23, 2021</td>
                                            <td><span class="font-medium">-$14</span></td>
                                            <td><span class="font-medium">Expired</span></td>
                                        </tr> -->
                                    </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                        <div class="semitrans" style="display:none;" id="planextscreen"></div>
                        <span>* Free Plan cannot be extended.</span><br/><span>** Extending a subscription would allow you to send more invitations for the Tests and Interviews created during the period of that specific subscription plan.</span><br/><span style="color:#0000aa;"><u>Note: You can't extend a subscription that is in "Active" state.</u></span><br/>
                    </div>
                </div>      
      		<!-- column -->
                <!--    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Temp Guide</h4>
                                <div class="d-flex align-items-center flex-row mt-4">
                                    <div class="display-5 text-info"><i class="wi wi-day-showers"></i>
                                        <span>73<sup>°</sup></span></div>
                                    <div class="ms-2">
                                        <h3 class="mb-0">Saturday</h3><small>Ahmedabad, India</small>
                                    </div>
                                </div>
                                <table class="table no-border mini-table mt-3">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">Wind</td>
                                            <td class="font-medium">ESE 17 mph</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Humidity</td>
                                            <td class="font-medium">83%</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Pressure</td>
                                            <td class="font-medium">28.56 in</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">Cloud Cover</td>
                                            <td class="font-medium">78%</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="row list-style-none text-center mt-4">
                                    <li class="col-3">
                                        <h4 class="text-info"><i class="wi wi-day-sunny"></i></h4>
                                        <span class="d-block text-muted">09:30</span>
                                        <h3 class="mt-1">70<sup>°</sup></h3>
                                    </li>
                                    <li class="col-3">
                                        <h4 class="text-info"><i class="wi wi-day-cloudy"></i></h4>
                                        <span class="d-block text-muted">11:30</span>
                                        <h3 class="mt-1">72<sup>°</sup></h3>
                                    </li>
                                    <li class="col-3">
                                        <h4 class="text-info"><i class="wi wi-day-hail"></i></h4>
                                        <span class="d-block text-muted">13:30</span>
                                        <h3 class="mt-1">75<sup>°</sup></h3>
                                    </li>
                                    <li class="col-3">
                                        <h4 class="text-info"><i class="wi wi-day-sprinkle"></i></h4>
                                        <span class="d-block text-muted">15:30</span>
                                        <h3 class="mt-1">76<sup>°</sup></h3>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div> -->
                    
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
                
            </div>
        <!-- Container fluid ends  -->
        
        
        
       <!-- Footer starts here -->	
      <div class="container-fluid footer" style="background-color:#707070;">
        <div class="row contact" style="background-color:#505050;">
          <div class="col-md-6 contact-form">
            <h3 class="content-ct"><span class="ti-email"></span> Contact Form</h3>
            <form class="form-horizontal" data-toggle="validator" role="form" name="frmcontactty" id="frmcontactty" method='POST'>
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Name<sup>*</sup></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
                  <div class="help-block with-errors pull-right"></div>
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email<sup>*</sup></label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="email" name="email" placeholder="you@youremail.com" required>
                  <div class="help-block with-errors pull-right"></div>
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
              <div class="form-group">
                <label for="message" class="col-sm-3 control-label">Your Message<sup>*</sup></label>
                <div class="col-sm-9">
                  <textarea id="message" name="message" class="form-control" rows="3" required></textarea>
                  <div class="help-block with-errors pull-right"></div>
                  <span class="form-control-feedback" aria-hidden="true"></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="button" id="btnsend" name="btnsend" class="btn btn-yellow pull-right" onclick="javascript:emailty();">Send <span class="ti-arrow-right"></span></button><p style="display:none;" id="sendingimgp"><img src="/static/images/plansnpricing/sendingemail.gif" style="width:100px;height:20px;"></p>
                  {% csrf_token %}
                </div>
              </div>
            </form>
          </div>
          
        </div>
        <div class="row footer-credit">
          <div class="col-md-6 col-sm-6">
            <p>Copyright &copy; 2023 TestYard - testyard.in </p>
          </div>
          <div class="col-md-6 col-sm-6"> 
            <ul class="footer-menu">
              <li><a href="{{ careers_url }}"{{ select_careers }}>Careers</a></li>
              <li><a href="{{privacypolicy_url}}">Privacy Policy</a></li>
              <li><a href="{{tou_url}}">Terms of Use</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Footer ends here -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="/static/javascript/index/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/static/javascript/index/bootstrap.min.js"></script>
      <script src="/static/javascript/index/jquery.easing.min.js"></script>
      <script src="/static/javascript/index/scrolling-nav.js"></script>
      <script src="/static/javascript/index/validator.js"></script>

    <!-- Dashboard js starts -->
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="../../assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="../../dist/js/pages/dashboards/dashboard1.js"></script>
    <!-- Dashboard js ends -->
</body>
</html>



