.ty-table {
    border-collapse: collapse;
    border-radius: 5px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.ty-table th {
    padding: 12px 15px;
    background-color: #005680;
    color: #ffffff;
}

.ty-table td {
    padding: 12px 15px;
}

.ty-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ty-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ty-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.ty-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

