body { font-family: arial, sans-serif; font-size: 13px; margin-top: 0px; margin-left: 0px; margin-right: 0px; background: white}
table { border-collapse: collapse; }
button::-moz-focus-inner, input[type=button]::-moz-focus-inner { border: medium none; padding: 0; }
/* remove Firefox's default unremovable padding on buttons */

div.regulartext { font-size: 14px; line-height: 1.40; }
div.regulartext p { margin-bottom: 0.7em; }
div.regulartext h2 { font-size: 18px; font-weight: bold; margin-top: 1.5em; margin-bottom: 0.7em; text-indent: -1.1em; margin-left: 1.1em; }
div.regulartext a:link, div.moreinf a:link { color: #666; }
div.regulartext a:visited, div.moreinf a:visited { color: #666; }

h1, h2 { color: #EF5733; }
body.editor h1 { font-size: 24px; margin-top: 0.2em; margin-bottom: 0.9em; }
body.text h1 { font-size: 27px; font-weight: normal; margin-top: 0.7em; margin-bottom: 0.7em; }
h1 span.sub { vertical-align: 45%; font-family: georgia, serif; font-weight: normal; font-size: 14px; font-style: italic; color: #888; }

td#middle a:link, td#middle a:visited, #intro a:link, #intro a:visited, div.box a:link, div.box a:visited, #footer a:link, #footer a:visited {
    color: #666; text-decoration: none; border-bottom: dotted 1px #666
}
span.link { color: #666; text-decoration: none; border-bottom: dotted 1px #666; cursor: pointer }
td#left a:link { color: #666; text-decoration: none; border-bottom: none }
td#left a:visited { color: #666; text-decoration: none; border-bottom: none }
td#left a:hover { text-decoration: underline; border-bottom: none }

body.home table.mainmenu { margin-left: auto; margin-right: auto }
body.home table.mainmenu td { vertical-align: top; }

body.home { font-size: 16px }
body.home h1 { margin: 0; font-size: 16px; font-weight: bold; text-align: center; color: #327282; margin-bottom: 25px } 
body.home a:link { color: #666; text-decoration: none; padding-bottom: 0px; border-bottom: solid 1px #ccc }
body.home a:hover { text-decoration: none; }
body.home a:visited { color: #752B74; text-decoration: none; }

body.home ul.mainmenu { margin: 0; padding: 0; list-style-type: none; font-size: 16px; line-height: 1.30; }
body.home ul.mainmenu li { margin: 0; padding: 0; margin-bottom: 0.15em }
body.home ul.mainmenu li small { font-style: italic }
body.home ul.mainmenu.extra { font-size: 15px; } 
body.home ul.mainmenu.extra li { display: inline }
body.home ul.mainmenu.extra li span.sep { color: #aaa; margin-left: 0.2em; margin-right: 0.2em }

span.new { font-size: 65%; color: #EF5733; }
ul { margin: 0.75em 0em 0.75em 0em; padding: 0 0 0 1.2em; }
ol { margin: 0.75em 0em 0.75em 0em; padding: 0 0 0 1.5em; }
li { margin: 0 0 0.75em 0; }

div#top-panel { background: #EF5733; padding: 6px; text-align: center; }
body.home div#top-panel { padding: 0px; }
table#layout { width: 100%; margin: 11px auto auto auto; } /* note: max-width does not work on table elements per W3C */
body.text table#layout {  }
body.editor table#layout { min-width: 987px; } /* for 1024 horiz resolution - CSS 2.1 says setting min-width on table, td is undefined */
table#layout td { vertical-align: top; padding: 0px; }
table#layout td#left { width: 105px; padding-right: 8px; padding-left: 13px; }
body.editor table#layout td#middle { width: auto; padding-right: 0px; /* min-width: 622px */ }
body.text table#layout td#middle { width: 500px; padding-left: 50px; padding-right: 50px }
table#layout td#right { width: 200px; text-align: right; padding-left: 25px; padding-right: 5px }
body.text table#layout td#right { width: auto; }

div#maintext { margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px; max-width: 1150px; min-width: 987px; }
/* div#maintext { margins-left: auto; margins-right: auto; paddisng: 0px 10px } */

#typeit_toolbar { box-sizing: border-box; -moz-box-sizing: border-box; margin-bottom: 5px; visibility: hidden; }
#typeit_toolbar div.buttons { white-space: nowrap; user-select: none; -moz-user-select: none; -webkit-user-select: none; }
/* #typeit_editbuttons { margin-bottom: 10px } */
#typeit_buttons { margin-top: 10px }
#typeit_toolbar button { padding: 0; margin-left: 0px; margin-bottom: 3px; visibility: hidden; vertical-align: middle; text-align: center; }
#typeit_buttons button { font-family: "Lucida Sans Unicode", "Lucida Grande", "DejaVu Sans", "Arial Unicode MS", sans-serif;
    font-size: 16px; line-height: 24px; width: 33px; height: 28px; margin-right: 3px; visibility: hidden; }
#typeit_buttons button.narrow { width: 24px; margin-right: 1px; opacity: 1; color: #555 }
#typeit_editbuttons button { height: 23px; width: 28px; padding: 0px 4px; margin-right: 0px; font-family: times, serif; font-weight: normal;
    font-size: 13px; line-height: 17px; color: #333; }
#typeit_editbuttons button sub { vertical-align: -10%; font-size: 75% }    
#typeit_toolbar button sup { font-size: 80%; vertical-align: 25%; line-height: 1.0; }
#typeit_buttons span.narrower > button { width: 29px }

#typeit_prefbar { box-sizing: border-box; -moz-box-sizing: border-box; font-size: 12px; line-height: 16px; text-align: right; vertical-align: top; margin-top: 3px; visibility: hidden }
#typeit_prefbar input#typeit_autoprettyselector { }
#typeit_prefbar label { color: #777; font-weight: bold; }
#typeit_prefbar span.link { color: #777; font-weight: bold; text-decoration: none; cursor: pointer; border-bottom: dotted 1px #999; vertical-align: 10%; margin-right: 13px; }
#typeit_prefbar label.typeit_autoprettyselector { margin-right: 12px; vertical-align: 10%; }
#typeit_prefbar span.separator { border-right: solid 1px silver; margin-right: 12px; }
#typeit_prefbar label.typeit_fontselector { margin-right: 5px; vertical-align: 10%; }
#typeit_prefbar label.typeit_disablekeysselector { margin-right: 8px; vertical-align: 10%; }
#typeit_prefbar select { margin-right: 0.3em; font-size: 11px; color: #555; height: 18px }
#typeit_prefbar select#typeit_fontselector { }
#typeit_font_plus, #typeit_font_minus { width: 18px; height: 18px; vertical-align: bottom }
span#typeit_showhiddenbuttons { font-size: 11px; color: #777; vertical-align: bottom; border-bottom: dotted 1px; text-decoration: none }
span#typeit_hidehiddenbuttons { font-size: 11px; color: #777; vertical-align: bottom; margin-top: 18px; border-top: dotted 1px; text-decoration: none; display: none; position: relative; top: 16px }
#typeit_showhiddenbuttons, #typeit_hidehiddenbuttons { cursor: pointer }

textarea#statement { box-sizing: border-box; -moz-box-sizing: border-box; width: 100%; height: 380px; border: solid 1px #7F9DB9; overflow: auto; margin: 0px; visibility: hidden }

/*
div#typeit_textbox_div { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 100%; line-height: 1.3em; min-height: 320px;
    width: 100%; height: 380px; border: solid 1px #7F9DB9; overflow: auto; margin: 0px }
*/

span.char { font-family: "Lucida Sans Unicode", "Lucida Grande", "DejaVu Sans", "Arial Unicode MS", sans-serif; }
span.char sup { vertical-align: 10% }
kbd { white-space: nowrap; font-family: inherit; font-weight: normal; font-style: normal; padding: 1px 4px;
    background-color: #fff; border: solid 1px #d9d9d9; border-radius: 3px; 
    color: #777; box-shadow: 0px 1px 0px 0px #ccc;
    /* background-color: #fff; color: #444; box-shadow: 0px 1px 0px 0px #bbb; opacity: 0.75; */    
}
div.box kbd { opacity: 1; padding-bottom: 1px; color: #777; background-color: #fbfbfb; border-color: #d5d5d5; box-shadow: 0px 1px 0px 0px #c8c8c8; }
#tip kbd, #typeit_prefbar kbd { opacity: 1; padding: 0px 3px; color: #888; border-color: #ccc; box-shadow: 0px 1px 0px 0px #eee; }
#typeit_buttons kbd { opacity: 1; padding: 0px 4px; }
#typeit_prefbar kbd { opacity: 1; margin-left: 1px; padding: 1px 3px; font-size: 11px; color: #999 }
#typeit_browser_warning kbd { opacity: 0.8; }
div.popuphelpbox kbd { color: #555; }

div#intro { background: #ddd; color: #333; width: 180px; padding: 10px; text-align: left; font-size: 12px; line-height: 1.50;
    border-radius: 2px }
form { margin-bottom: 1em }

/*some properties set in JS */
#typeit_overlay { background-color: white; border-style: solid; border-color: silver; cursor: pointer; opacity: 0.8; }
#typeit_overlay .message { top: 0px; left: 0px; width: 100%; text-align: center; color: #ef5733; font-weight: bold; padding-top: 5px; visibility: inherit }

#typeit_browser_warning { margin-top: 10px; font-size: 12px; line-height: 1.50; background: #f2dad6; padding: 10px; text-align: left; color: #EF5733; display: none }
#typeit_browser_warning label { display: inline; font-weight: bold; margin: 0; margin-bottom: 10px; color: #333; text-align: center;
    text-transform: uppercase; font-size: 12px; }
#typeit_browser_warning ul { padding-left: 1.2em; margin-left: 0; margin-top: 0.5em }
#typeit_browser_warning ul li { display: inline; margin-right: 2em }
#typeit_browser_warning a { text-decoration: none }

div.box { margin-top: 12px; background: #eee; width: 180px; padding: 10px; padding-bottom: 10px; text-align: left;
    font-size: 12px; line-height: 150%; color: #555; border-radius: 2px } /* l-h in percent to ensure inheritance of computed value into span.char */
div.box label { display: block; margin: 0; color: #EF5733; text-align: center; width: 170px; padding: 0px;
    margin-bottom: 10px; font-size: 12px; font-weight: bold; text-transform: uppercase }
div.box p { margin-top: 0.75em; margin-bottom: 0.75em; } 
div.box ul > li { margin: 0.4em 0em; }
code { font-family: consolas, monaco, monospace; color: #ef5733 }
div.box span.char { font-size: 15px; color: black }

div#social-buttons { margin-top: 10px; width: 200px; height: 25px; overflow: hidden; text-align: left; }
div#social-buttons > a.share { display: inline-block;  vertical-align: top; margin-right: 9px; overflow: hidden }
div#social-buttons > a.share#share-googleplus {
    font-family: arial, sans-serif; color: #E73535; font-size: 11px; font-weight: bold; line-height: 16px; text-decoration: none;
    padding-left: 18px;
}
div#social-buttons > a.share:last-child { margin-right: 0px }
div#social-buttons > a.share:hover { opacity: 0.8 }

div#ad-right { margin-top: 9px; width: 190px; width: 200px; text-align: left; padding-top: 0px; }
div#ad-container { width: 200px; height: 200px; }
div#ad-help { font-size: 11px; color: #888; text-align: center; margin-top: 6px }
div#banner-container { width: 490px; margin: 10px 0px 20px 0px }
#banner-container span.close { display: block; float: right; cursor: pointer; margin-left: 4px; border: solid 2px #ccc; color: #bbb;
    border: solid 2px #ef5733; color: #ef5733; border: solid 2px #EC9884; color: #EC9884;
    font-weight: bold; padding: 0px 2px; font-size: 15px; line-height: 16px; }


hr.footer { color: #EF5733; background: #EF5733; border: #EF5733; height: 2px; margin-top: 2em }
div#footer { font-size: 11px; color: gray; line-height: 150%; padding: 2px 0px; }
div#footer span.sep { padding: 0px 2px; }

table#layout td#tip, table#layout div#tip { font-size: 11px; color: #888; line-height: 12px; }
table#layout td#tip { padding-left: 10px; padding-bottom: 3px;  vertical-align: bottom; min-width: 7em } /* min-width undefined on td's */
table#layout div#tip { margin-top: 10px; margin-bottom: -3px }
#tip .kbdhelp img { vertical-align: bottom; width: 15px; height: 12px; margin-right: 5px }
/* #tip .kbdhelp span.link { color: #777; border-color: #777 } */

div.moreinf { margin-top: 20px; margin-right: 10px; font-size: 14px; line-height: 1.40; clear: both }
div.moreinf div.header { color: #EF5733; font-size: 20px; font-weight: bold }

#navbar { font-size: 13px; line-height: 1.30 }
#navbar ol#typeit_navbar { margin: 0px; padding: 0px; list-style-type: none; }
#navbar ol#typeit_navbar li { margin: 0px; padding: 0px; }
#navbar ol#typeit_navbar li small { font-size: 11px; font-style: italic }
#navbar ol#typeit_navbar li.selected { }
#navbar ul.other { margin: 0px; margin-top: 1.5em; padding: 0px; list-style-type: none }
#navbar ul.other li { font-style: italic; margin-bottom: 0.4em; }
#navbar ul.other li.highlighted { color: #EF5733; margin-top: 0.5em; }
#navbar ul.other li.highlighted a { color: #EF5733 }
#navbar span.diamond { color: #EF5733 }

/*
#top-box.ask-antimoon { margin-bottom: 18px; padding: 7px; text-align: left; color: #EF5733;
border: solid 1px #FF9763; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 1.40;
font-size: 12px }
#top-box.ask-antimoon a:link, #top-box.ask-antimoon a:hover, #top-box.ask-antimoon a:visited {
    color: #333; font-weight: bold; text-decoration: underline; border-bottom: none }
#top-box.ask-antimoon span.close { border: solid 1px #EF5733; }    
*/

#top-box-wrapper { overflow: hidden; }
#top-box.begging-for-cash { overflow: visible; margin-bottom: 18px; padding: 7px; padding-top: 5px; text-align: left;
    background-color: #ec9884; background-color: #E79B88; background-color: #DE8A75; color: white; font-weight: bold;
    border: solid 2px #f6beb1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; line-height: 18px;
    font-size: 13px;
}
#top-box.begging-for-cash a:link, #top-box.begging-for-cash a:hover, #top-box.begging-for-cash a:visited {
    color: black; text-decoration: none; border-bottom: dotted 1px black; text-shadow: 1px 1px 0px rgba(255,255,255,0.3); }
#top-box.begging-for-cash div.pseudotable { display: table; cursor: pointer; margin-left: 3px; }
#top-box.begging-for-cash div { display: table-cell; height: 26px; vertical-align: middle; padding-top: 2px; text-shadow: 1px 1px 0px rgba(0,0,0,0.4); }
#top-box.begging-for-cash span.close { display: block; float: right; cursor: pointer; margin-left: 9px; border: solid 2px white;
    padding: 0px 2px; font-size: 15px; line-height: 16px; }
#top-box.begging-for-cash a.close { float: right; }

#typeit_buttons.compact div.buttons { margin-bottom: 3px }
#typeit_buttons.compact button { background-color: rgb(229,229,229); border-style: none; width: 22px; height: 26px;
    color: rgb(51,51,51); margin-bottom: 2px; margin-top: 2px; margin-right: 0px; font-size: 17px;
    /*-moz-transition: text-shadow 0.2s; transition: text-shadow 10s; -webkit-transition: text-shadow 0.2s;*/
}
#typeit_buttons.compact span.keyblock { background-color: #e5e5e5; display: inline-block; padding-right: 5px; padding-left: 2px;
    margin-right: 3px; vertical-align: middle
}
#typeit_buttons.compact span.keyblock label { display: inline-block; vertical-align: middle; -moz-border-radius: 9px; border-radius: 9px;
    -webkit-border-radius: 9px; text-align: center; margin-right: 3px; margin-left: 3px;
    /*background-color: #f98064;*/ color: white; /* width: 17px; line-height: 17px; font-weight: bold*/
    font-size: 11px; line-height: 16px; width: 16px; background-color: #EF937C;
}
#typeit_buttons.compact span.keyblock.extra { background-color: rgb(212,212,212); }
#typeit_buttons.compact span.keyblock.darker button, #typeit_buttons.compact span.keyblock.darker { background-color: rgb(212,212,212); }
#typeit_buttons.compact span.keyblock.extra button { width: 18px; background-color: rgb(212,212,212); }

.popuphelp { cursor: help }
.popuphelp span.link { cursor: help }
img.popuphelp { vertical-align: middle; margin-left: 2px; width: 16px; height: 16px; }
div.popuphelpbox { border: double 1px silver; border-radius: 3px; padding: 1em 1em 0em 1em; font-size: 13px; line-height: 19px;
    background-color: #F4E7E5; opacity: 0.95; box-shadow: 2px 2px 2px silver; }
div.popuphelpbox > p { margin: 0; margin-bottom: 0.7em; color: #111; }
div.popuphelpbox > p > span.char { font-size: 14px; color: #000; line-height: 19px }
div.popuphelpbox > div.message { margin: 0.5em 0.5em 0.5em 0.5em; color: #ef5733; font-style: italic; }
